<div class="flex flex-col flex-auto min-w-0">
    <!-- Main -->
    <div class="flex-auto  sm:p-2  w-full min-w-0 sm:absolute sm:inset-0 sm:overflow-auto text-md">

        <mat-card class="body-card">
            <mat-card-title>
                <app-card-title title="Leave Balance" [sub]="true" [back]="false" (submitTap)="submit()"></app-card-title>
            </mat-card-title><br>
                <div class="flex flex-wrap">
                    <div class="h-13 mr-3">
                        <app-employee-hierarchy [multiple]="true" [all]="true" [notincludetag]="[37]" [resultHierarchy]="resultHierarchy"></app-employee-hierarchy>
                    </div>
                    <form class="h-13 mr-3" [formGroup]="leavebalanceform" >
                        <app-dropdown-custom [useControl]="true" [all]="true" (selected)="sample($event)" [multiple]="true" [control]="leavebalanceform.get('leaveTypeId')" [options]="dropdownOptions.Leavecategory" [type]="1017"></app-dropdown-custom>
                    </form>

                    <div class="flex space-x-4 mt-1">
                        <button mat-flat-button color="primary" (click)="Search(false)" class="text-sm w-[10px]" matTooltip="Search">
                            <mat-icon matSuffix svgIcon="mat_outline:search"></mat-icon>
                        </button>
                        <button mat-flat-button color="primary" (click)="handleUploadEvent()" class="text-sm w-[10px]" matTooltip="Upload">
                            <mat-icon matSuffix svgIcon="mat_outline:upload"></mat-icon>
                        </button>
                        <button type="button" (click)="Search(true)"  class="text-sm w-[10px]" mat-flat-button color="primary" matTooltip="Export">
                            <mat-icon svgIcon="mat_outline:download"></mat-icon>
                        </button>
                    </div>
                </div>

            <div>
                <mat-divider></mat-divider>
            </div>
            <section class="example-container mat-elevation-z0 z-10" tabindex="0">
                <table mat-table [dataSource]="dataSource" class="border" >
                    <ng-container matColumnDef="action">
                        <th class="pl-10" mat-header-cell *matHeaderCellDef> Action </th>
                        <td class="pr-5" mat-cell *matCellDef="let element ; let i = index">
                            <button color="primary" mat-button (click)="enable(element)">
                            <mat-icon class="ml-0" svgIcon="heroicons_outline:pencil-alt"></mat-icon></button>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="amount">
                        <th class="pl-5" mat-header-cell *matHeaderCellDef>Amount</th>
                        <td class="pr-1" mat-cell *matCellDef="let element">
                            <div class="h-13 mt-1">
                                <mat-form-field class="w-20" appearance="outline">
                                    <mat-label class="amount-label"></mat-label>
                                    <input class="amount-label" matInput type="number" [(ngModel)]="element.amount" [placeholder]="''" [disabled]="!element.isAmount">
                                </mat-form-field>
                            </div>

                    </td>
                    </ng-container>

                    <ng-container matColumnDef="type">
                        <th class="pl-15" mat-header-cell *matHeaderCellDef>New Balance</th>
                        <td class="" mat-cell  *matCellDef="let element">
                            <div class="h-13 mt-1 w-50">
                                <app-dropdown [disabled]="!element.isType" [useControl]="false" [multiple]="false" [all]="false" [value]="element.type" (selected)="element.type = $event"  [options]="[]" label="New Balance" [type]="82"> </app-dropdown>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="remarks">
                        <th class="pl-15" mat-header-cell *matHeaderCellDef> Remarks </th>
                        <td class="" mat-cell *matCellDef="let element">
                            <div class="h-13 mt-1">
                                <mat-form-field class="w-50 " appearance="outline">
                                    <mat-label class=""></mat-label>
                                    <input class="remarks-label" matInput type="text" [(ngModel)]="element.remarks" [placeholder]="''" [disabled]="!element.isRemarks">
                                </mat-form-field>
                            </div>
                    </td>
                    </ng-container>

                    <ng-container matColumnDef="employeeId">
                        <th class="pl-10 pr-10" mat-header-cell *matHeaderCellDef> Employee </th>
                        <td mat-cell class="h-10" *matCellDef="let element"> {{element.employee}} </td>
                    </ng-container>

                    <ng-container matColumnDef="leaveTypeId">
                        <th class="pl-10 pr-10" mat-header-cell *matHeaderCellDef> Leave Type </th>
                        <td mat-cell class="h-10" *matCellDef="let element"> {{element.leaveType}} </td>
                    </ng-container>

                    <ng-container matColumnDef="earned">
                        <th class="pl-10 pr-10" mat-header-cell *matHeaderCellDef> Earned </th>
                        <td mat-cell class="h-10" *matCellDef="let element"> {{element.earned}} </td>
                    </ng-container>

                    <ng-container matColumnDef="used">
                        <th class="pl-10 pr-10" mat-header-cell *matHeaderCellDef> Used </th>
                        <td mat-cell class="h-10" *matCellDef="let element"> {{element.used}} </td>
                    </ng-container>

                    <ng-container matColumnDef="pendingApproval">
                        <th class="pl-10 pr-10" mat-header-cell *matHeaderCellDef> Pending Approval </th>
                        <td mat-cell class="h-10" *matCellDef="let element"> {{element.pendingApproval}} </td>
                    </ng-container>

                    <ng-container matColumnDef="pendingSchedule">
                        <th class="pl-10 pr-10" mat-header-cell *matHeaderCellDef> Pending Schedule </th>
                        <td mat-cell class="h-10" *matCellDef="let element"> {{element.pendingSchedule}} </td>
                    </ng-container>

                    <ng-container matColumnDef="available">
                        <th class="pl-10 pr-10" mat-header-cell *matHeaderCellDef> Available </th>
                        <td class="h-10" mat-cell *matCellDef="let element"> {{element.available}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </section>
            <mat-paginator class="paganation" [attr.disabled]="isLoadingResults ? true : null" (page)="handlePageEvent($event)"
            [length]="totalRows" [pageSize]="request.Length" [pageIndex]="request.Start"
            [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
        </mat-card>
    </div>
</div>
