<div class="flex-auto p-6 sm:p-6 overflow-y-auto">
    <!-- Main -->
    <div class="flex-auto  sm:p-2  w-full min-w-0 sm:absolute sm:inset-0 sm:overflow-auto text-md">
        <div class="grid grid-cols-6 gap-2">

            <mat-form-field class="w-full h-10" appearance="outline">
                <mat-label class="label-font-size">Previous Company Name</mat-label>
                <input matInput type="text">
            </mat-form-field>

            <mat-form-field class="w-full h-10" appearance="outline">
                <mat-label class="label-font-size">Employer's TIN</mat-label>
                <input matInput type="number">
            </mat-form-field>

            <mat-form-field class="w-full h-10" appearance="outline">
                <mat-label class="label-font-size">Registered Address</mat-label>
                <input matInput type="text">
            </mat-form-field>

            <mat-form-field class="w-full h-10" appearance="outline">
                <mat-label class="label-font-size">Zip Code</mat-label>
                <input matInput type="number">
            </mat-form-field>

            <mat-form-field class="w-full text-md h-10" appearance="outline">
                <mat-label class="label-font-size">Year</mat-label>
                <mat-select [placeholder]="">
                    <mat-option [value]="true">Yes</mat-option>
                    <mat-option [value]="false">No</mat-option>
                </mat-select>
            </mat-form-field>

            <button class="w-40 text-md mt-[4px] " mat-flat-button color="primary" aria-label="example icon">
                <mat-icon class="mr-1 mt-5" svgIcon="mat_outline:post_add"></mat-icon>Add
            </button>
        </div><br>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z0 border">

            <ng-container matColumnDef="prevcompany">
                <th mat-header-cell *matHeaderCellDef> Previous Company </th>
                <td mat-cell *matCellDef="let element"> {{element.prevcompany}} </td>
            </ng-container>

            <ng-container matColumnDef="tin">
                <th mat-header-cell *matHeaderCellDef> Employers TIN </th>
                <td mat-cell *matCellDef="let element"> {{element.tin}} </td>
            </ng-container>

            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef>Registered Address </th>
                <td mat-cell *matCellDef="let element"> {{element.address}} </td>
            </ng-container>

            <ng-container matColumnDef="zip">
                <th mat-header-cell *matHeaderCellDef> Zip Code</th>
                <td mat-cell *matCellDef="let element"> {{element.zip}} </td>
            </ng-container>

            <ng-container matColumnDef="year">
                <th mat-header-cell *matHeaderCellDef> Year </th>
                <td mat-cell *matCellDef="let element"> {{element.year}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div class="grid grid-cols-2 gap-2">
            <mat-paginator [length]="20" #paginator0 [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                aria-label="Select page of periodic elements"> </mat-paginator>
        </div>

        <div>
            <mat-divider></mat-divider><br>
        </div>

        <mat-vertical-stepper #stepper>
            <mat-step [stepControl]="" [editable]="">
                <form [formGroup]="">
                    <ng-template matStepLabel>Employee Information</ng-template>
                    <!-- employee information =============== -->

                    <div class="grid grid-cols-7 gap-2 h-13">
                        <mat-form-field class="w-full text-md h-10" appearance="outline">
                            <mat-label class="label-font-size">For The Year</mat-label>
                            <mat-select [placeholder]="">
                                <mat-option [value]="true">Yes</mat-option>
                                <mat-option [value]="false">No</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="w-full text-md" appearance="outline">
                            <mat-label class="label-font-size">For The Period From</mat-label>
                            <input matInput [matDatepicker]="df1" readonly [placeholder]="'MM/DD/YYYY'"
                                (click)="df1.open()">
                            <mat-datepicker-toggle matSuffix [for]="df1"></mat-datepicker-toggle>
                            <mat-datepicker #df1></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="w-full text-md" appearance="outline">
                            <mat-label class="label-font-size">For The Period To</mat-label>
                            <input matInput [matDatepicker]="df2" readonly [placeholder]="'MM/DD/YYYY'"
                                (click)="df2.open()">
                            <mat-datepicker-toggle matSuffix [for]="df2"></mat-datepicker-toggle>
                            <mat-datepicker #df2></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="w-full h-10" appearance="outline">
                            <mat-label class="label-font-size">Employee's TIN</mat-label>
                            <input matInput type="number">
                        </mat-form-field>

                        <mat-form-field class="w-full h-10" appearance="outline">
                            <mat-label class="label-font-size">Status Wage Per Day</mat-label>
                            <input matInput type="number">
                        </mat-form-field>

                        <mat-form-field class="w-full h-10" appearance="outline">
                            <mat-label class="label-font-size">Statutory Minimum Wage Per Month</mat-label>
                            <input matInput type="number">
                        </mat-form-field>

                        <mat-form-field class="w-full text-md h-10" appearance="outline">
                            <mat-label class="label-font-size">Minimum Wage Earner </mat-label>
                            <mat-select [placeholder]="">
                                <mat-option [value]="true">Yes</mat-option>
                                <mat-option [value]="false">No</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <Span>Employer Information (Present)</Span>

                    <div class="grid grid-cols-5 gap-2 h-13">

                        <mat-form-field class="w-full h-10" appearance="outline">
                            <mat-label class="label-font-size">Employer's TIN</mat-label>
                            <input matInput type="number">
                        </mat-form-field>

                        <mat-form-field class="w-full h-10" appearance="outline">
                            <mat-label class="label-font-size">Employer's Name</mat-label>
                            <input matInput type="text">
                        </mat-form-field>

                        <mat-form-field class="w-full h-10" appearance="outline">
                            <mat-label class="label-font-size">Registered Address</mat-label>
                            <input matInput type="text">
                        </mat-form-field>

                        <mat-form-field class="w-full h-10" appearance="outline">
                            <mat-label class="label-font-size">Zip Code</mat-label>
                            <input matInput type="text">
                        </mat-form-field>

                        <mat-form-field class="w-full text-md h-10" appearance="outline">
                            <mat-label class="label-font-size">Employer Type</mat-label>
                            <mat-select [placeholder]="">
                                <mat-option [value]="true">Yes</mat-option>
                                <mat-option [value]="false">No</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>



                    <Span>Employer Information (Previous)</Span>

                    <div class="grid grid-cols-5 gap-2 h-13">

                        <mat-form-field class="w-full h-10" appearance="outline">
                            <mat-label class="label-font-size">Employer's TIN</mat-label>
                            <input matInput type="number">
                        </mat-form-field>

                        <mat-form-field class="w-full h-10" appearance="outline">
                            <mat-label class="label-font-size">Employer's Name</mat-label>
                            <input matInput type="text">
                        </mat-form-field>

                        <mat-form-field class="w-full h-10" appearance="outline">
                            <mat-label class="label-font-size">Registered Address</mat-label>
                            <input matInput type="text">
                        </mat-form-field>

                        <mat-form-field class="w-full h-10" appearance="outline">
                            <mat-label class="label-font-size">Zip Code</mat-label>
                            <input matInput type="text">
                        </mat-form-field>

                        <!-- <mat-form-field class="w-full text-md h-10" appearance="outline">
                                <mat-label class="label-font-size">Employer Type</mat-label>
                                <mat-select [placeholder]="">
                                    <mat-option [value]="true">Yes</mat-option>
                                    <mat-option [value]="false">No</mat-option>
                                </mat-select>
                            </mat-form-field> -->
                    </div>

                    <div>
                        <button mat-flat-button color="primary" matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="" [editable]="">
                <form [formGroup]="">
                    <ng-template matStepLabel>Summary</ng-template>
                    <div class="grid grid-cols-5 gap-2 h-13">

                        <mat-form-field class="w-full h-10" appearance="outline">
                            <mat-label class="label-font-size">Gross Compensation Income</mat-label>
                            <input matInput type="number">
                        </mat-form-field>

                        <mat-form-field class="w-full h-10" appearance="outline">
                            <mat-label class="label-font-size">Total Non-Taxable</mat-label>
                            <input matInput type="number">
                        </mat-form-field>

                        <mat-form-field class="w-full h-10" appearance="outline">
                            <mat-label class="label-font-size">Taxable Compensation Income (Present)</mat-label>
                            <input matInput type="number">
                        </mat-form-field>

                        <mat-form-field class="w-full h-10" appearance="outline">
                            <mat-label class="label-font-size">Taxable Compensation Income (Previous)</mat-label>
                            <input matInput type="number">
                        </mat-form-field>

                        <mat-form-field class="w-full h-10" appearance="outline">
                            <mat-label class="label-font-size">Gross Taxable Compensation Income</mat-label>
                            <input matInput type="number">
                        </mat-form-field>
                    </div>

                    <div class="grid grid-cols-6 gap-2 h-13">
                        <mat-form-field class="w-full h-10" appearance="outline">
                            <mat-label class="label-font-size">Tax Due</mat-label>
                            <input matInput type="number">
                        </mat-form-field>

                        <mat-form-field class="w-full h-10" appearance="outline">
                            <mat-label class="label-font-size">Amount of Taxes (Previous)</mat-label>
                            <input matInput type="number">
                        </mat-form-field>

                        <mat-form-field class="w-full h-10" appearance="outline">
                            <mat-label class="label-font-size">Amount of Taxes (Previous)</mat-label>
                            <input matInput type="number">
                        </mat-form-field>

                        <mat-form-field class="w-full h-10" appearance="outline">
                            <mat-label class="label-font-size">Total Amount of Taxes</mat-label>
                            <input matInput type="number">
                        </mat-form-field>

                        <mat-form-field class="w-full h-10" appearance="outline">
                            <mat-label class="label-font-size">5% Tax Credit</mat-label>
                            <input matInput type="number">
                        </mat-form-field>

                        <mat-form-field class="w-full h-10" appearance="outline">
                            <mat-label class="label-font-size">Total Taxes</mat-label>
                            <input matInput type="number">
                        </mat-form-field>
                    </div>
                    <div>
                        <button mat-flat-button color="primary" matStepperPrevious>Back</button>&nbsp;
                        <button mat-flat-button color="primary" matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Non-Taxable/Exempt Compensation Income</ng-template>
                <div class="grid grid-cols-5 gap-2 h-13">
                    <mat-form-field class="w-full h-10" appearance="outline">
                        <mat-label class="label-font-size">Basic Salary</mat-label>
                        <input matInput type="number">
                    </mat-form-field>

                    <mat-form-field class="w-full h-10" appearance="outline">
                        <mat-label class="label-font-size">Holiday Pay</mat-label>
                        <input matInput type="number">
                    </mat-form-field>

                    <mat-form-field class="w-full h-10" appearance="outline">
                        <mat-label class="label-font-size">Overtime Pay</mat-label>
                        <input matInput type="number">
                    </mat-form-field>

                    <mat-form-field class="w-full h-10" appearance="outline">
                        <mat-label class="label-font-size">Night Shift Differential Pay</mat-label>
                        <input matInput type="number">
                    </mat-form-field>

                    <mat-form-field class="w-full h-10" appearance="outline">
                        <mat-label class="label-font-size">Hazard Pay</mat-label>
                        <input matInput type="number">
                    </mat-form-field>
                </div>

                <div class="grid grid-cols-5 gap-2 h-13">
                    <mat-form-field class="w-full h-10" appearance="outline">
                        <mat-label class="label-font-size">13th Month Pay</mat-label>
                        <input matInput type="number">
                    </mat-form-field>

                    <mat-form-field class="w-full h-10" appearance="outline">
                        <mat-label class="label-font-size">De Minimis Benefits</mat-label>
                        <input matInput type="number">
                    </mat-form-field>

                    <mat-form-field class="w-full h-10" appearance="outline">
                        <mat-label class="label-font-size"> SSS, GSIS, PHIC & PAG-IBIG Contributions</mat-label>
                        <input matInput type="number">
                    </mat-form-field>

                    <mat-form-field class="w-full h-10" appearance="outline">
                        <mat-label class="label-font-size">Salaries and Other Forms of Compensation</mat-label>
                        <input matInput type="number">
                    </mat-form-field>

                    <mat-form-field class="w-full h-10" appearance="outline">
                        <mat-label class="label-font-size">Total Non-Taxable/Exempt Compensation Income</mat-label>
                        <input matInput type="number">
                    </mat-form-field>
                </div>
                <div>
                    <button mat-flat-button color="primary" matStepperPrevious>Back</button>&nbsp;
                    <button mat-flat-button color="primary" matStepperNext>Next</button>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Taxable Compensation Income Regular</ng-template>
                <div class="grid grid-cols-5 gap-2 h-13">
                    <mat-form-field class="w-full h-10" appearance="outline">
                        <mat-label class="label-font-size">Basic Salary</mat-label>
                        <input matInput type="number">
                    </mat-form-field>

                    <mat-form-field class="w-full h-10" appearance="outline">
                        <mat-label class="label-font-size">Representation</mat-label>
                        <input matInput type="number">
                    </mat-form-field>

                    <mat-form-field class="w-full h-10" appearance="outline">
                        <mat-label class="label-font-size">Transportation</mat-label>
                        <input matInput type="number">
                    </mat-form-field>

                    <mat-form-field class="w-full h-10" appearance="outline">
                        <mat-label class="label-font-size"> Cost of Living Allowance (COLA)</mat-label>
                        <input matInput type="number">
                    </mat-form-field>

                    <mat-form-field class="w-full h-10" appearance="outline">
                        <mat-label class="label-font-size">Fixed Housing Allowance</mat-label>
                        <input matInput type="number">
                    </mat-form-field>
                </div>

                <div class="grid grid-cols-5 gap-2 h-13">
                    <mat-form-field class="w-full h-10" appearance="outline">
                        <mat-label class="label-font-size"> Others: (Name)</mat-label>
                        <input matInput type="text">
                    </mat-form-field>

                    <mat-form-field class="w-full h-10" appearance="outline">
                        <mat-label class="label-font-size">Others: (Amount)</mat-label>
                        <input matInput type="number">
                    </mat-form-field>

                    <mat-form-field class="w-full h-10" appearance="outline">
                        <mat-label class="label-font-size">Others: (Name)</mat-label>
                        <input matInput type="text">
                    </mat-form-field>

                    <mat-form-field class="w-full h-10" appearance="outline">
                        <mat-label class="label-font-size">Others: (Amount)</mat-label>
                        <input matInput type="number">
                    </mat-form-field>

                    <mat-form-field class="w-full h-10" appearance="outline">
                        <mat-label class="label-font-size">Commission</mat-label>
                        <input matInput type="number">
                    </mat-form-field>
                </div>

                <div class="grid grid-cols-5 gap-2 h-13">
                    <mat-form-field class="w-full h-10" appearance="outline">
                        <mat-label class="label-font-size">Profit Sharing</mat-label>
                        <input matInput type="number">
                    </mat-form-field>

                    <mat-form-field class="w-full h-10" appearance="outline">
                        <mat-label class="label-font-size"> Fees Including Director's Fees</mat-label>
                        <input matInput type="number">
                    </mat-form-field>

                    <mat-form-field class="w-full h-10" appearance="outline">
                        <mat-label class="label-font-size">Taxable 13th Month Benefits</mat-label>
                        <input matInput type="number">
                    </mat-form-field>

                    <mat-form-field class="w-full h-10" appearance="outline">
                        <mat-label class="label-font-size">Hazard Pay</mat-label>
                        <input matInput type="number">
                    </mat-form-field>

                    <mat-form-field class="w-full h-10" appearance="outline">
                        <mat-label class="label-font-size">Overtime Pay</mat-label>
                        <input matInput type="number">
                    </mat-form-field>
                </div>

                <div class="grid grid-cols-5 gap-2 h-13">
                    <mat-form-field class="w-full h-10" appearance="outline">
                        <mat-label class="label-font-size"> Others: (Name)</mat-label>
                        <input matInput type="text">
                    </mat-form-field>

                    <mat-form-field class="w-full h-10" appearance="outline">
                        <mat-label class="label-font-size">Others: (Amount)</mat-label>
                        <input matInput type="number">
                    </mat-form-field>

                    <mat-form-field class="w-full h-10" appearance="outline">
                        <mat-label class="label-font-size">Others: (Name)</mat-label>
                        <input matInput type="text">
                    </mat-form-field>

                    <mat-form-field class="w-full h-10" appearance="outline">
                        <mat-label class="label-font-size">Others: (Amount)</mat-label>
                        <input matInput type="number">
                    </mat-form-field>

                    <mat-form-field class="w-full h-10" appearance="outline">
                        <mat-label class="label-font-size"> Total Taxable Compensation Income </mat-label>
                        <input matInput type="number">
                    </mat-form-field>
                </div>
            </mat-step>
        </mat-vertical-stepper>
    </div>
</div>
