.label-font-size {
    font-size: 15px;
}

input {
    position: relative;
    bottom: 10px;
    font-size: medium;
}

.mat-select {
    position: relative;
    bottom: 9px;
    font-size: medium;
}

.mat-datepicker-toggle {
    position: relative;
    bottom: 5px;
    font-size: medium;
}

.sample {
    position: relative;
    bottom: 10px;
    font-size: medium;
}

.upb {
    position: relative;
    bottom: 15px;
    right: -5px;
    border-radius: 3px !important;
}

.mat-icon {
    position: relative;
    bottom: 11px;
}

table {
    width: 100%;
}

.mat-card {
    height: 50%;
}

.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.my-stepper .mat-horizontal-stepper-content {
    height: auto !important;
    overflow-y: hidden !important;
    height: 100%;
}

.align-button {
    text-align: end;
}
.mat-card {
    height: 100%;
}
