input {
    position: relative;
    bottom: 9px;
    font-size: medium;
}

.mat-icon {
    position: relative;
    bottom: 9px;
}

.mat-datepicker-toggle {
    position: relative;
    bottom: 7px;
    font-size: medium;
}