table {
    width: 100%;
}
.label-font-size{
    font-size: 15px;
   }
   .mat-icon{
       position: relative;
       bottom: 8px;
   }
   input{
     position: relative;
     bottom: 10px;
     font-size: medium;
   }
   .button-margin-top {
    margin-top: 3px;
}
.mat-select{
    position: relative;
    bottom: 11px;
    font-size: medium;
  }
.mat-datepicker-toggle{
    position: relative;
    bottom: 7px;
    font-size: medium;
  }
