<div class="flex flex-col flex-auto min-w-0">
    <!-- Main -->
    <div class="flex-auto  sm:p-2  w-full min-w-0 sm:absolute sm:inset-0 text-md">
        <!-- Content -->
        <!-- <mat-card> -->
        <!-- <mat-card-title>
                    <app-card-title title="Earnings" [sub]="false" [back]="false" [switch]="false" (submitTap)="submit()"></app-card-title>
            </mat-card-title> -->
        <!-- <app-card-title title="Amount"></app-card-title><br> -->
        <form [formGroup]="earningform">
            <div class="grid grid-cols-10 gap-2 h-13">
                <mat-form-field class="w-full text-md" appearance="outline">
                    <mat-label class="label-font-size">Earning Codes</mat-label>
                    <mat-icon class="iconsize icon-size-5 : mr-2" matPrefix svgIcon="mat_outline:info"></mat-icon>
                    <input formControlName="code" class="input" matInput [placeholder]="''">
                </mat-form-field>
                <mat-form-field class="w-full text-md" appearance="outline">
                    <mat-label class="label-font-size">Description</mat-label>
                    <mat-icon class="iconsize icon-size-5 : mr-2" matPrefix svgIcon="mat_outline:info"></mat-icon>
                    <input formControlName="description" class="input" type="text" matInput [placeholder]="''">
                </mat-form-field>

                <app-dropdown-custom [multiple]="false" [control]="earningform.get('categoryID')" (selected)="taxable()"  [type]="1041" [value]="ef.categoryID"   [options]="dropdownOptions.categoryDef" [useControl]="true"></app-dropdown-custom>

                <mat-form-field class="w-full text-md" appearance="outline">
                    <mat-label class="label-font-size">Calculation Type</mat-label>
                    <mat-select formControlName="fixed" [placeholder]="''">
                        <mat-option [value]="true">Fixed </mat-option>
                        <mat-option [value]="false">Calculated</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="w-full text-md" appearance="outline"
                    *ngIf="!ef.fixed">
                    <mat-label class="label-font-size"> Earn/Deduct</mat-label>
                    <mat-select formControlName="earnOrDeduct" [placeholder]="''">
                        <mat-option [value]="1">TK-Earn </mat-option>
                        <mat-option [value]="2">TK-Deduct</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="w-full text-md" appearance="outline" *ngIf="ef.earnOrDeduct == 2 && !ef.fixed">
                    <mat-label class="label-font-size">Attendance</mat-label>
                    <mat-select formControlName="attendance" multiple [placeholder]="''">
                        <mat-option [value]="0">Select all</mat-option>
                        <mat-option [value]="1">Absent</mat-option>
                        <mat-option [value]="2">Tardiness</mat-option>
                        <mat-option [value]="3">Undertime</mat-option>
                        <mat-option [value]="4">LWOP</mat-option>
                        <mat-option [value]="5">SL</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="w-full text-md" appearance="outline" *ngIf="ef.earnOrDeduct == 1 && !ef.fixed">
                    <mat-label class="label-font-size">Formula</mat-label>
                    <mat-icon class="iconsize icon-size-5 : mr-2" matPrefix svgIcon="mat_outline:info"></mat-icon>
                    <input formControlName="formula" class="input" type="text" matInput [placeholder]="''">
                </mat-form-field>
                <mat-form-field class="w-full text-md" appearance="outline"
                    *ngIf="(ef.earnOrDeduct == 2 || ef.earnOrDeduct == 1) && !ef.fixed">
                    <mat-label class="label-font-size">Type</mat-label>
                    <mat-select formControlName="type" [placeholder]="''">
                        <mat-option [value]="1">First Cutoff </mat-option>
                        <mat-option [value]="2">Second Cutoff</mat-option>
                        <mat-option [value]="3">Monthly</mat-option>
                        <mat-option [value]="4">Every Cutoff</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="w-full text-md" appearance="outline">
                    <mat-label class="label-font-size">Taxable</mat-label>
                    <mat-select formControlName="isTaxable" [placeholder]="''">
                        <mat-option [value]="true">Yes</mat-option>
                        <mat-option [value]="false">No</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="w-full text-md" appearance="outline">
                    <mat-label class="label-font-size">Deduct From Taxable</mat-label>
                    <mat-select formControlName="isDeductfromTaxable" [placeholder]="''">
                        <mat-option [value]="true">Yes</mat-option>
                        <mat-option [value]="false">No</mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- <mat-form-field class="w-full text-md h-13"  appearance="outline" *ngIf="ef.fixed == 2">
                                <mat-label  class="label-font-size">Max Amount</mat-label>
                                <mat-icon class="iconsize icon-size-5 : mr-2" matPrefix svgIcon="mat_outline:info"></mat-icon>
                                <input class="input" type="number" matInput [placeholder]="''" >
                            </mat-form-field> -->
            </div>

            <div class="grid grid-cols-12 gap-2">
                <div class="col-span-9">
                    <div class="grid grid-cols-5 gap-2 h-13">
                        <mat-form-field class="w-full text-md" appearance="outline">
                            <mat-label class="label-font-size">On Payslip</mat-label>
                            <mat-select formControlName="isHidePayslip" [placeholder]="''">
                                <mat-option [value]="true">Yes</mat-option>
                                <mat-option [value]="false">No</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="w-full text-md" appearance="outline">
                            <mat-label class="label-font-size">Part Of Gross</mat-label>
                            <mat-select formControlName="isAddtoGross" [placeholder]="''">
                                <mat-option [value]="true">Yes</mat-option>
                                <mat-option [value]="false">No</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="w-full text-md" appearance="outline">
                            <mat-label class="label-font-size">On Payreg</mat-label>
                            <mat-select formControlName="isHidePayreg" [placeholder]="''">
                                <mat-option [value]="true">Yes</mat-option>
                                <mat-option [value]="false">No</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <app-dropdown [control]="earningform.get('jeAccountCode')"  [options]="dropdownOptions.accountCodeDef" [icon]="'mat_outline:info'" [type]="133" [useControl]="true"> </app-dropdown>

                        <app-dropdown [control]="earningform.get('jeAccountId')"  [options]="dropdownOptions.accountNameDef" [icon]="'mat_outline:info'" [type]="134" [useControl]="true"> </app-dropdown>
                    </div>
                </div>

                <div class="col-span-3">
                    <div class="grid grid-cols-3 gap-2 h-13">
                        <mat-form-field class="w-full text-md" appearance="outline">
                            <mat-label class="label-font-size">Debit/Credit</mat-label>
                            <mat-select formControlName="debitOrCredit" [placeholder]="''">
                                <mat-option [value]="1">Debit</mat-option>
                                <mat-option [value]="0">Credit</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="w-full text-md" appearance="outline">
                            <mat-label class="label-font-size">Cost or HR</mat-label>
                            <mat-select formControlName="costOrHr" [placeholder]="''">
                                <mat-option [value]="0">Cost</mat-option>
                                <mat-option [value]="1">HR</mat-option>
                                <mat-option [value]="2">Custom</mat-option>
                            </mat-select>
                        </mat-form-field>


                        <mat-form-field class="w-full text-md" appearance="outline">
                            <mat-label class="label-font-size">Status</mat-label>
                            <mat-select formControlName="active" [placeholder]="''">
                                <mat-option [value]="true">Active</mat-option>
                                <mat-option [value]="false">Inactive</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>


            <!-- <mat-divider></mat-divider><br>
                        <div class="grid grid-cols-4 gap-2 h-13">
                            <mat-form-field class="w-full text-md h-13"  appearance="outline">
                                <mat-label  class="label-font-size">Code</mat-label>
                                <mat-icon class="iconsize icon-size-5 : mr-2" matPrefix svgIcon="mat_outline:info"></mat-icon>
                                <input class="input" matInput [placeholder]="''" >
                            </mat-form-field>
                            <mat-form-field class="w-full text-md h-13"  appearance="outline">
                                <mat-label  class="label-font-size">Description</mat-label>
                                <mat-icon class="iconsize icon-size-5 : mr-2" matPrefix svgIcon="mat_outline:info"></mat-icon>
                                <input class="input" matInput [placeholder]="''" >
                            </mat-form-field>
                            <mat-form-field class="w-full text-md h-13" appearance="outline">
                                <mat-label class="label-font-size">Category</mat-label>
                                <mat-select [placeholder]="''" >
                                    <mat-option value="1">13th Month Pay</mat-option>
                                    <mat-option value="2">13 Month Others</mat-option>
                                    <mat-option value="3">De Minimis</mat-option>
                                    <mat-option value="4">Basic Pay</mat-option>
                                    <mat-option value="5">Fringe Benefit</mat-option>
                                    <mat-option value="6">Other Allowance TX</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="w-full text-md h-13" appearance="outline">
                                <mat-label class="label-font-size">Taxable</mat-label>
                                <mat-select  [placeholder]="''" >
                                    <mat-option [value]="true">Yes</mat-option>
                                    <mat-option [value]="false">No</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="grid grid-cols-4 gap-2 h-13">
                            <mat-form-field class="w-full text-md h-13" appearance="outline">
                                <mat-label class="label-font-size">Deduct From Taxable</mat-label>
                                <mat-select [placeholder]="''" >
                                    <mat-option [value]="true">Yes</mat-option>
                                    <mat-option [value]="false">No</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="w-full text-md h-13" appearance="outline">
                                <mat-label class="label-font-size">Part Of Gross</mat-label>
                                <mat-select [placeholder]="''" >
                                    <mat-option [value]="true">Yes</mat-option>
                                    <mat-option [value]="false">No</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="w-full text-md h-13" appearance="outline">
                                <mat-label class="label-font-size">Off Payreg</mat-label>
                                <mat-select [placeholder]="''" >
                                    <mat-option [value]="true">Yes</mat-option>
                                    <mat-option [value]="false">No</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="w-full text-md h-13" appearance="outline">
                                <mat-label class="label-font-size">Off Payslip</mat-label>
                                <mat-select [placeholder]="''" >
                                    <mat-option [value]="true">Yes</mat-option>
                                    <mat-option [value]="false">No</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <mat-divider></mat-divider><br>
                        <div class="grid grid-cols-5 gap-2 h-15">
                            <mat-form-field class="w-full text-md h-13" appearance="outline">
                                <mat-label class="label-font-size">TimeKeeping Based</mat-label>
                                <mat-select formControlName="TimekeepingBased" [placeholder]="''">
                                    <mat-option [value]="true">Yes</mat-option>
                                    <mat-option [value]="false">No</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="grid grid-cols-3">
                            <div style=" border-style: solid; border-color: aliceblue; border-width: 1px; margin-top: 2px; border-radius: 3px;"
                            *ngIf="ef.TimekeepingBased" >
                                <textarea class="area ml-1"  matInput formControlName="description" placeholder="" ></textarea>
                            </div>
                        </div> -->
        </form>
    </div>
</div>
