/* .label-font-size{
     font-size: 15px;
    }

    .mat-icon{
     position: relative;
     bottom: 8px;
    }

    .mat-select{
     position: relative;
     bottom: 10px;
     font-size: medium;
    }

    .input{
     position: relative;
     bottom: 10px;
     font-size: medium;
    }

    .uploadbutton{
     position: relative;
     bottom: 11px;
     border-radius: 3px !important;
    }

    .button-margin-top{
     padding-top: 1%;
    }

    table {
     width: 100%;
    }

    .label-font-size{
     font-size: 15px;
    }

    .mat-icon{
     position: relative;
     bottom: 8px;
    }

    input{
     position: relative;
     bottom: 10px;
     font-size: medium;
    }

    ::ng-deep .tab-hide .mat-tab-list .mat-tab-labels {
     display: none;
    }

    .mat-datepicker-toggle{
     position: relative;
     bottom: 7px;
     font-size: medium;
    }

    table{
     width: 86%;
    } */
    .password-correct {
        color: green;
      }

    .password-incorrect {
      color: red;
    }
