.label-font-size{
    font-size: 15px;
}
.mat-icon{
    position: relative;
    bottom: 8px;
}
.mat-select{
    position: relative;
    bottom: 11px;
    font-size: medium;
}
.input{
    position: relative;
    bottom: 10px;
    font-size: medium;
}
/* .uploadbutton{
    position: relative;
    bottom: 7px;
    border-radius: 3px !important;
} */
.button-margin-top{
    padding-top: 1%;
}

::ng-deep .tab-hide .mat-tab-list .mat-tab-labels {
  display: none;
}
.mat-datepicker-toggle{
    position: relative;
    bottom: 7px;
    font-size: medium;
}

.scroll-container {
    display: flex;
    align-items: center;
    overflow: auto;
}


/* .body{
  width: 100%;
  padding-left: 5px;
} */
.body{
   text-align: center;
}

.area {
    height: 15px;
    width: 100%;
    resize: none;
    font-size: 15px;
    overflow-y: scroll;
    border-width: 2px;
    border-radius: 3px;

}

table {
    width: 100%;
}
.button-margin-top{
    padding-top: 1%;
  }


.label-font-size{
  font-size: 15px;
 }
 .mat-icon{
     position: relative;
     bottom: 11px;
 }
 input{
   position: relative;
   bottom: 10px;
   font-size: medium;
 }

.mat-cell{
    align-items: center;
    vertical-align: top;
    padding-top: 10px;
}

.text{
    border-style: solid;
    border-width: 2px;
    margin-bottom: 33px;
    border-radius: 3px;
    height: 33px;
    min-width: 100px;
    max-width: 150px;
}
.reasoncss{
    margin-bottom: 30px;
}
textarea:valid{
    border-color: #C9C0C0;
    /* -webkit-text-fill-color: #FFFFF9; */
}
textarea:invalid{
    border-color: #DC2626;
    /* -webkit-text-fill-color:#DC2626; */
}
.upload:valid{
    border-color: aliceblue;
}
.upload:invalid{
    border-color: #DC2626;
}
.sample
{
    position: relative;
    bottom: 10px;
    font-size: medium;
}
.upb{
    position: relative;
    bottom: 15px;
    right: -5px;
    border-radius: 3px !important;
}
.upbo{
    position: relative;
    bottom: 15px;
    right: -2px;
    border-radius: 3px !important;
}
.mat-divider
{
    border-top-color: rgb(172, 172, 172) !important;
}
.scroll-container {
    display:block;
    align-items: center;
    overflow-x: scroll;
    white-space: nowrap;
}
.mat-card{
    height: 100%;
}

