table {
    width: 100%;
}

.mat-column-day {
    width: 10%;
}

.mat-column-break_count{
    width: 10%;
}

.put-border {
    border: 1px solid rgb(217, 223, 208);
    padding: 8px;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: small;
}
.label-font-size{
    font-size: 15px;
   }
   .mat-icon{
       position: relative;
       bottom: 8px;
   }
   input{
     position: relative;
     bottom: 10px;
     font-size: medium;
   }
   .mat-select{
    position: relative;
    bottom: 11px;
    font-size: medium;
}
