table {
    width: 100%;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 50%;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

[disabled] {
    pointer-events: none;
}

.mat-cell,
.mat-footer-cell {
    word-break: normal;
    font-size: 14px;
    padding-left: 1px;
    padding-right: 1px;
    margin-right: 1%;
}

.mat-header-cell {
    word-break: normal;
    font-size: 15px;
    padding-left: 1px;
    padding-right: 1px;
}

.body-card {
    position: relative;
    height: 100%;
    padding-top: 1px;
}

.example-container {
    position: absolute;
    top: 100px;
    left: 15px;
    right: 15px;
    bottom: 80px;
    max-height: 100%;
    overflow: auto;
}

.paganation {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.table-header {
    z-index: 1;
    /* Set the desired z-index value */
}

tr.mat-header-row {
    height: 35px;
}

tr.mat-row {
    height: 22px;
    font-size: small;
}

/* end -- edit table style 8-1-22 */

.label-font-size {
    font-size: 15px;
}

input {
    position: relative;
    bottom: 7px;
    font-size: small;
}

.uploadbutton {
    position: relative;
    bottom: 11px;
    right: 1px;
    border-radius: 3px !important;
}

.mat-select {
    position: relative;
    bottom: 9px;
    font-size: medium;
}

.scroll-container {
    display: block;
    align-items: center;
    overflow: auto;
    white-space: nowrap;
}

.mat-row {
    white-space: normal;
    word-wrap: break-all;
    max-width: 100%;
}

.mat-datepicker-toggle {
    position: relative;
    bottom: 5px;
    font-size: medium;
}

.no-wrap {
    white-space: nowrap;
    padding: 10px;
  }

  /* long cell value transition */
.truncate-cell {
    position: relative;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: max-width 60s;
  }

  /* .hover-effect:hover .truncate-cell {
    max-width: none;
    animation: moveLeftAnimation 50s forwards;
  } */

  @keyframes moveLeftAnimation {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-100%);
    }
  }

  ::ng-deep .mat-tooltip-panel {
    bottom: 100px !important;
  }