<div class="flex flex-col flex-auto min-w-0">
    <!-- Main -->
    <div class="flex-auto  sm:p-2  w-full min-w-0 sm:absolute sm:inset-0 sm:overflow-auto text-md">

        <mat-card class="body-card">
            <mat-card-title>
                <mat-card-title class="text-[16px]" style="text-transform: capitalize;">Filing List</mat-card-title>
            </mat-card-title>
            <form [formGroup]="myForm">
                <div class="flex space-x-4">

    <!--
                    <mat-form-field class="w-full text-md" appearance="outline">
                        <mat-label class="label-font-size">Date From</mat-label>
                        <input formControlName="dateFrom" matInput [matDatepicker]="df" readonly [placeholder]="'MM/DD/YYYY'" [max]="dateTo"
                            (click)="df.open()">
                        <mat-datepicker-toggle matSuffix [for]="df"></mat-datepicker-toggle>
                        <mat-datepicker #df></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="w-full text-md" appearance="outline">
                        <mat-label class="label-font-size">Date To</mat-label>
                        <input formControlName="dateTo"  matInput [matDatepicker]="df2" readonly [placeholder]="'MM/DD/YYYY'"
                            (click)="df2.open()">
                        <mat-datepicker-toggle matSuffix [for]="df2"></mat-datepicker-toggle>
                        <mat-datepicker #df2></mat-datepicker>
                    </mat-form-field> -->

                    <app-dropdown-custom class="employeeId" *ngIf="currentModule" [control]="myForm.get('employeeId')"
                    [icon]="'mat_outline:info'" [type]="1035" [multiple]="true" [all]="true" (selected)="validation()"
                    [options]="dropdownOptions.employeedef" [useControl]="true"></app-dropdown-custom>

                    <div *ngIf="currentModule && this.myForm.value.employeeId !== null || !currentModule">
                        <app-dropdown-custom class="filingTypes" [control]="myForm.get('filingTypes')" [type]="1028" [value]="this.myForm.value.filingTypes" [options]="dropdownOptions.filingdef" [useControl]="true"></app-dropdown-custom>
                    </div>

                    <mat-form-field  class="w-50 text-md dateFrom" appearance="outline" *ngIf="currentModule && this.myForm.value.employeeId !== null || !currentModule">
                        <mat-label class="label-font-size">Date From</mat-label>
                        <input formControlName="dateFrom" [max]="myForm.controls['dateTo'].value" matInput [matDatepicker]="df" readonly [placeholder]="'MM/DD/YYYY'" (click)="df.open()">
                        <mat-datepicker-toggle matSuffix [for]="df"></mat-datepicker-toggle>
                        <mat-datepicker #df></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="w-50 text-md dateTo" appearance="outline" *ngIf="currentModule && this.myForm.value.employeeId !== null || !currentModule">
                        <mat-label class="label-font-size">Date To</mat-label>
                            <input formControlName="dateTo" [min]="myForm.controls['dateFrom'].value" matInput [matDatepicker]="dt" readonly [placeholder]="'MM/DD/YYYY'" (click)="dt.open()">
                            <mat-datepicker-toggle matSuffix [for]="dt"></mat-datepicker-toggle>
                            <mat-datepicker #dt></mat-datepicker>
                    </mat-form-field>

                    <div class="flex space-x-4 mt-1">
                        <button mat-flat-button class="text-md btn-Search" color="primary" (click)="search()" matTooltip="Search">
                            <mat-icon matSuffix svgIcon="mat_outline:search"></mat-icon>
                        </button>
                        <button mat-flat-button class="text-md btn-Create" color="primary" (click)="handleCreateEvent()" matTooltip="Create">
                            <mat-icon matSuffix svgIcon="mat_outline:playlist_add"></mat-icon>
                        </button>
                        <button mat-flat-button class="text-md btn-Export" color="primary" matTooltip="Export">
                            <mat-icon matSuffix svgIcon="mat_outline:download"></mat-icon>
                        </button>
                    </div><br>
                </div>
            </form>
            <section class="example-container mat-elevation-z0 z-10" tabindex="0">
                <table mat-table #paginator0 [dataSource]="dataSource" (matSortChange)="handleSortEvent($event)" class="mat-elevation-z0 border">

                    <!-- First Level Approval -->

                    <ng-container matColumnDef="action">
                        <th class="pl-10" mat-header-cell *matHeaderCellDef> </th>
                        <td class="pl-5" mat-cell *matCellDef="let element ; let i = index">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                              </button>
                              <mat-menu #menu="matMenu">
                                <!-- <button mat-menu-item  (click)="handleClickEvent('edit' ,element)" *ngIf="!currentModule && element.status =='First Level Approval'">
                                  <mat-icon color="primary">edit</mat-icon>
                                  <span color="primary">Edit</span>
                                </button> -->
                                <button mat-menu-item (click)="handleClickEvent('view' ,element)">
                                    <mat-icon color="primary">open_in_new</mat-icon>
                                    <span color="primary">View</span>
                                </button>
                                <button mat-menu-item (click)="handleClicdownload(element.encryptId,element.employeeId)" *ngIf="myForm.value.filingTypes == 52 && element.status == 'Approved'">
                                    <mat-icon color="primary">download</mat-icon>
                                    <span color="primary">Download</span>
                                </button>
                                <button mat-menu-item (click)="cancel(element.encryptId)"
                                    *ngIf="element.status =='Approved' ||element.status =='First Level Approval' ">
                                    <mat-icon color="primary">cancel</mat-icon>
                                    <span color="primary">Cancel</span>
                                </button>
                                <!-- <button mat-menu-item disabled>
                                  <mat-icon>voicemail</mat-icon>
                                  <span>Check voice mail</span>
                                </button> -->
                              </mat-menu>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Code">
                        <th mat-header-cell class="no-wrap" *matHeaderCellDef> Code </th>
                        <td mat-cell  class="hover-effect" *matCellDef="let element">
                            <div class="truncate-cell">{{element.code}} </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Date_from">
                        <th mat-header-cell class="no-wrap" *matHeaderCellDef> Date From </th>
                        <td class="text-md" mat-cell *matCellDef="let element">
                            <div class="truncate-cell">{{element.dateFrom}} </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="leaveFilingType">
                        <th mat-header-cell class="no-wrap" *matHeaderCellDef> Leave Filing Type </th>
                        <td class="text-md" mat-cell *matCellDef="let element">
                            <div class="truncate-cell">{{element.leaveFilingType}} </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="halfDayOption">
                        <th mat-header-cell class="no-wrap" *matHeaderCellDef> Halfday Option</th>
                        <td class="text-md" mat-cell *matCellDef="let element">
                            <div class="truncate-cell">{{element.halfDayOption}} </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="paid">
                        <th mat-header-cell class="no-wrap" *matHeaderCellDef> Paid </th>
                        <td class="text-md" mat-cell *matCellDef="let element">
                            <div class="truncate-cell">{{element.paid}} </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Date_to">
                        <th mat-header-cell class="no-wrap" *matHeaderCellDef> Date To </th>
                        <td mat-cell  class="hover-effect" *matCellDef="let element">
                            <div class="truncate-cell">{{element.dateTo}} </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Date">
                        <th mat-header-cell class="no-wrap" *matHeaderCellDef> Date To </th>
                        <td mat-cell  class="hover-effect" *matCellDef="let element">
                            <div class="truncate-cell">{{element.date | date: 'yyyy/MM/dd'}} </div>
                        </td>
                    </ng-container>


                    <ng-container matColumnDef="Locationfrom">
                        <th mat-header-cell class="no-wrap" *matHeaderCellDef> Location From </th>
                        <td mat-cell  class="hover-effect" *matCellDef="let element">
                            <div class="truncate-cell">{{element.locationFrom}} </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="LocationTo">
                        <th mat-header-cell class="no-wrap" *matHeaderCellDef> Location To </th>
                        <td mat-cell  class="hover-effect" *matCellDef="let element">
                            <div class="truncate-cell">{{element.locationTo}} </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="leaveType">
                        <th mat-header-cell class="no-wrap" *matHeaderCellDef> Leave Type </th>
                        <td class="text-md" mat-cell *matCellDef="let element">
                            <div class="truncate-cell">{{element.leaveType}} </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Shift_code">
                        <th mat-header-cell class="no-wrap" *matHeaderCellDef> Shift Code </th>
                        <td class="text-md" mat-cell *matCellDef="let element">
                            <div class="truncate-cell">{{element.shiftCode}} </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Hours">
                        <th mat-header-cell class="no-wrap" *matHeaderCellDef> Hours </th>
                        <td class="text-md" mat-cell *matCellDef="let element">
                            <div class="truncate-cell">{{element.offsetHours}} </div>
                        </td>
                    </ng-container>

                    <!-- <ng-container matColumnDef="Leave_Type" *ngIf="myForm.value.filingTypes == 34">
                        <th mat-header-cell class="no-wrap" *matHeaderCellDef> Leave type </th>
                        <td mat-cell  class="hover-effect" *matCellDef="let element">
                            <div class="truncate-cell">{{element.Leave_Type}} </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Paid" *ngIf="myForm.value.filingTypes == 34">
                        <th mat-header-cell class="no-wrap" *matHeaderCellDef> Paid</th>
                        <td mat-cell  class="hover-effect" *matCellDef="let element">
                            <div class="truncate-cell">{{element.Paid}} </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="halfday" *ngIf="myForm.value.filingTypes == 34">
                        <th mat-header-cell class="no-wrap" *matHeaderCellDef> Half Day </th>
                        <td mat-cell  class="hover-effect" *matCellDef="let element">
                            <div class="truncate-cell">{{element.halfday}} </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Leave_hour" *ngIf="myForm.value.filingTypes == 34">
                        <th mat-header-cell class="no-wrap" *matHeaderCellDef> Leave Hour </th>
                        <td mat-cell  class="hover-effect" *matCellDef="let element">
                            <div class="truncate-cell">{{element.Leave_hour}} </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Shift_Code" *ngIf="myForm.value.filingTypes == 36">
                        <th mat-header-cell class="no-wrap" *matHeaderCellDef> Shift Code </th>
                        <td mat-cell  class="hover-effect" *matCellDef="let element">
                            <div class="truncate-cell">{{element.Shift_Code}} </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Type" *ngIf="myForm.value.filingTypes == 36">
                        <th mat-header-cell class="no-wrap" *matHeaderCellDef> Type </th>
                        <td mat-cell  class="hover-effect" *matCellDef="let element">
                            <div class="truncate-cell">{{element.Type}} </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Timing" *ngIf="myForm.value.filingTypes == 36">
                        <th mat-header-cell class="no-wrap" *matHeaderCellDef> Date To </th>
                        <td mat-cell  class="hover-effect" *matCellDef="let element">
                            <div class="truncate-cell">{{element.Timing}} </div>
                        </td>
                    </ng-container> -->

                    <ng-container matColumnDef="Reason">
                        <th class="" mat-header-cell class="no-wrap" *matHeaderCellDef> Reason </th>
                        <td mat-cell  class="hover-effect" class="" *matCellDef="let element">
                            <div class="truncate-cell">{{element.reason}} </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Status">
                        <th mat-header-cell class="no-wrap" *matHeaderCellDef> Status </th>
                        <td mat-cell  class="hover-effect"  *matCellDef="let element">
                            <div class="truncate-cell">{{element.status}} </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Approval">
                        <th mat-header-cell class="no-wrap" *matHeaderCellDef> Approve By  </th>
                        <td mat-cell  class="hover-effect" *matCellDef="let element">
                            <div class="truncate-cell">{{element.approvedBy}} </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Approval_date">
                        <th mat-header-cell class="no-wrap" *matHeaderCellDef>  Approval Date </th>
                        <td mat-cell  class="hover-effect" *matCellDef="let element">
                            <div class="truncate-cell">{{element.approvalDate}} </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Requested_by">
                        <th mat-header-cell class="no-wrap" *matHeaderCellDef> Requested By </th>
                        <td mat-cell  class="hover-effect" *matCellDef="let element">
                            <div class="truncate-cell">{{element.requestedBy}} </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Requested_date">
                        <th mat-header-cell class="no-wrap" *matHeaderCellDef> Requested Date </th>
                        <td mat-cell  class="hover-effect" *matCellDef="let element">
                            <div class="truncate-cell">{{element.requestDate}} </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </section>

            <mat-paginator class="paganation" (page)="handlePageEvent($event)"
            [length]="totalRows" [pageSize]="request.Length" [pageIndex]="request.Start"
            [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
        </mat-card>
    </div>
</div>
