<div class="flex-auto p-6 sm:p-6 overflow-y-auto">
    <!-- Main -->
    <div class="flex-auto  sm:p-2  w-full min-w-0 sm:absolute sm:inset-0 sm:overflow-auto text-md">
            <table mat-table [dataSource]="dt" class="mat-elevation-z0 border">

                <ng-container *ngIf="error" matColumnDef="errorLogs">
                    <th class="pl-2 pr-2" mat-header-cell *matHeaderCellDef> Error Logs </th>
                    <td class="pl-2 pr-2 pb-2" mat-cell *matCellDef="let element" [ngClass]="{'txt':highligthError(element)}">{{element.errorLogs}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="employeeCode">
                    <th class="pl-2 pr-2" mat-header-cell *matHeaderCellDef> Employee Code </th>
                    <td class="pl-2 pr-2 pb-2" mat-cell *matCellDef="let element" [ngClass]="{'txt':highligthError(element)}">{{element.employeeCode}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="employeeName">
                    <th class="pl-2 pr-2" mat-header-cell *matHeaderCellDef> Employee Name </th>
                    <td class="pl-2 pr-2 pb-2" mat-cell *matCellDef="let element" [ngClass]="{'txt':highligthError(element)}">{{element.employeeName}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="deductionsCode">
                    <th class="pl-2 pr-2" mat-header-cell *matHeaderCellDef> Deductions Code </th>
                    <td class="pl-2 pr-2 pb-2" mat-cell *matCellDef="let element" [ngClass]="{'txt':highligthError(element)}">{{element.deductionsCode}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="deductionsAmount">
                    <th class="pl-2 pr-2" mat-header-cell *matHeaderCellDef> Amount </th>
                    <td class="pl-2 pr-2 pb-2" mat-cell *matCellDef="let element" [ngClass]="{'txt':highligthError(element)}">{{element.deductionsAmount}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="recurStartDate">
                    <th class="pl-2 pr-2" mat-header-cell *matHeaderCellDef> Recurring Start</th>
                    <td class="pl-2 pr-2 pb-2" mat-cell *matCellDef="let element" [ngClass]="{'txt':highligthError(element)}">{{element.recurStartDate}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="recurEndDate">
                    <th class="pl-2 pr-2" mat-header-cell *matHeaderCellDef> Recurring End </th>
                    <td class="pl-2 pr-2 pb-2" mat-cell *matCellDef="let element" [ngClass]="{'txt':highligthError(element)}">{{element.recurEndDate}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="isHoldFrom">
                    <th class="pl-2 pr-2" mat-header-cell *matHeaderCellDef> Hold From</th>
                    <td class="pl-2 pr-2 pb-2" mat-cell *matCellDef="let element" [ngClass]="{'txt':highligthError(element)}">{{element.isHoldFrom}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="isHoldTo">
                    <th class="pl-2 pr-2" mat-header-cell *matHeaderCellDef> Hold To </th>
                    <td class="pl-2 pr-2 pb-2" mat-cell *matCellDef="let element" [ngClass]="{'txt':highligthError(element)}">{{element.isHoldTo}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="frequency">
                    <th class="pl-2 pr-2" mat-header-cell *matHeaderCellDef> Frequency </th>
                    <td class="pl-2 pr-2 pb-2" mat-cell *matCellDef="let element" [ngClass]="{'txt':highligthError(element)}">{{element.frequency}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="remarks">
                    <th class="pl-2 pr-2" mat-header-cell *matHeaderCellDef> Remarks </th>
                    <td class="pl-2 pr-2 pb-2" mat-cell *matCellDef="let element" [ngClass]="{'txt':highligthError(element)}"> {{element.remarks}} </td>
                </ng-container>

                <div *ngIf="error">
                    <tr mat-header-row *matHeaderRowDef="deductionColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: deductionColumns;" class="errorRow" [ngClass]="{'errorRow': highligthError(row)}"></tr>
                </div>
                <div *ngIf="!error">
                    <tr  mat-header-row *matHeaderRowDef="deductionNColumns; sticky: true"></tr>
                    <tr  mat-row *matRowDef="let row; columns: deductionNColumns;"></tr>
                </div>

            </table>
        <!-- </div> -->

        <mat-paginator class="mat-paginator-sticky" [attr.disabled]="isLoadingResults ? true : null" (page)="handlePageEvent($event)"
        [length]="totalRows" [pageSize]="request.Length" [pageIndex]="request.Start"
        [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
    </div>
</div>
