<div class="flex flex-col flex-auto min-w-0">
    <!-- Main -->
    <div class="flex-auto  sm:p-2  w-full min-w-0 sm:absolute sm:inset-0 text-md">
        <mat-card class="h-full">
            <mat-card-title>
                <app-card-title title="Pre Approve OT" [sub]="adddisabledfield" [back]="true" [switch]="false"
                    (submitTap)="submit()">
                </app-card-title>
            </mat-card-title><br>

            <form [formGroup]="preform">
                <div class="flex flex-wrap space-x-3 ">
                    <mat-form-field class="w-50 text-md" appearance="outline">
                        <mat-label class="label-font-size">Date From</mat-label>
                        <input formControlName="datefrom" matInput [matDatepicker]="df" readonly [placeholder]="'MM/DD/YYYY'" (click)="df.open()">
                        <mat-datepicker-toggle matSuffix [for]="df"></mat-datepicker-toggle>
                        <mat-datepicker #df></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="w-50 text-md" appearance="outline">
                        <mat-label class="label-font-size">Date To</mat-label>
                        <input matInput formControlName="dateto" [matDatepicker]="dt" readonly [placeholder]="'MM/DD/YYYY'" (click)="dt.open()">
                        <mat-datepicker-toggle matSuffix [for]="dt"></mat-datepicker-toggle>
                        <mat-datepicker #dt></mat-datepicker>
                    </mat-form-field>

                    <!-- <div class="w-full">
                        <app-employee-hierarchy class="col-span-{{field_count+1}}" (selected)="field_count = $event"
                        [resultHierarchy]="resultHierarchy"></app-employee-hierarchy>
                    </div> -->

                    <!-- <app-employee-hierarchy [all]="true" [multiple]="true" (selected)="field_count = $event" [resultHierarchy]="resultHierarchy"></app-employee-hierarchy> -->
                    <!-- <app-dropdown-custom [control]="preform.get('employeeId')"
                        [icon]="'mat_outline:info'" [type]="1035" [all]="true" [multiple]="true"
                        [options]="dropdownOptions.employeedef" [useControl]="true">
                    </app-dropdown-custom> -->
                    <app-employee-hierarchy [showTag]="!currentModule" [defaultTag]="defaultTag" [all]="true" [multiple]="true" (selected)="field_count = $event " [resultHierarchy]="resultHierarchy"></app-employee-hierarchy>

                    <mat-form-field class="w-50 text-md" appearance="outline">
                        <mat-label class="label-font-size">Time</mat-label>
                        <mat-icon class="icon-size-5 : mr-2" matPrefix svgIcon="mat_outline:info"></mat-icon>
                        <mat-select (selectionChange)="cleartable()" [disabled]="disableduration" formControlName="time" class="label-font-size">
                            <mat-option [value]="false">Duration</mat-option>
                            <mat-option [value]="true">Range</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div class="grid grid-cols-2 gap-2">
                        <button type="button" [disabled]="disabledfield" (click)="search()" class="w-full mt-[3px]" mat-flat-button color="primary"
                            aria-label="example icon">
                            <mat-icon class="mt-5 " svgIcon="mat_outline:search"></mat-icon></button>
                    </div>
                </div>
            </form>

            <!-- ========================Duration table ================================================== -->
            <mat-card class="tablecss mat-elevation-z0" *ngIf="hidetable">
                <table mat-table #durationtable [dataSource]="dataSource" class="mat-elevation-z0">

                    <ng-container matColumnDef="action">
                        <th class="pl-1" mat-header-cell *matHeaderCellDef></th>
                        <td class="pl-1" mat-cell *matCellDef="let element ; let i = index">
                            <div class="h-13" *ngFor="let child of element.action; let x = index">
                                <button class="mt-1" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                    <mat-icon class="mt-5">more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button  *ngIf="x == 0" mat-menu-item (click)="add(i)">
                                        <mat-icon class="mt-5" color="primary">add</mat-icon>
                                        <span color="primary">Add</span>
                                    </button>
                                    <!-- <button *ngIf="disabledfield" mat-menu-item (click)="add(i)">
                                        <mat-icon class="mt-5" color="primary">cancel</mat-icon>
                                        <span color="primary">Cancel</span>
                                    </button> -->
                                    <!-- <button mat-menu-item>
                                        <mat-icon class="mt-5" color="primary">edit</mat-icon>
                                        <span color="primary">Edit</span>
                                    </button> -->
                                    <button (click)="deleterow(i,x)" mat-menu-item>
                                        <mat-icon class="mt-5" color="warn">delete</mat-icon>
                                        <span color="primary">Delete</span>
                                    </button>
                                <!-- <button mat-menu-item disabled>
                                        <mat-icon>voicemail</mat-icon>
                                        <span>Check voice mail</span>
                                    </button> -->
                                </mat-menu>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="date">
                        <th class="pl-[5.5%]" mat-header-cell *matHeaderCellDef> Date </th>
                        <td class="pl-2" mat-cell *matCellDef="let element">
                            <div class="h-13" *ngFor="let child of element.date; let x = index">
                                <mat-form-field class="w-full text-md mt-1 h-13" appearance="outline">
                                    <!-- <mat-icon class="icon-size-5 : mr-2" matPrefix svgIcon="mat_outline:info"></mat-icon> -->
                                    <input matInput [(ngModel)]="child.id" type="text" [placeholder]="''" [disabled]="true">
                                </mat-form-field>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="emp_code">
                        <th class="pl-[4%]" mat-header-cell *matHeaderCellDef> Employee Code </th>
                        <td class="pl-2" mat-cell *matCellDef="let element">
                            <div class="h-13" *ngFor="let child of element.emp_code; let x = index">
                                <mat-form-field class="w-full text-md mt-1 h-13" appearance="outline" >
                                    <!-- <mat-icon class="icon-size-5 : mr-2" matPrefix svgIcon="mat_outline:info"></mat-icon> -->
                                    <input matInput [(ngModel)]="child.id" type="text" [placeholder]="''" [disabled]="true">
                                </mat-form-field>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="emp_name">
                        <th class="pl-[3.5%]" mat-header-cell *matHeaderCellDef> Employee Name </th>
                        <td class="pl-2" mat-cell *matCellDef="let element">
                            <div  class="h-13" *ngFor="let child of element.emp_name; let x = index">
                                <mat-form-field class="w-full text-md mt-1 h-13" appearance="outline">
                                    <!-- <mat-icon class="icon-size-5 : mr-2" matPrefix svgIcon="mat_outline:info"></mat-icon> -->
                                    <input matInput [(ngModel)]="child.id" type="text" [placeholder]="''" [disabled]="true">
                                </mat-form-field>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="shift">
                        <th class="pl-[5%]" mat-header-cell *matHeaderCellDef> Shift </th>
                        <td class="pl-2" mat-cell *matCellDef="let element">
                            <div class="h-13" *ngFor="let child of element.shift; let x = index">
                                <mat-form-field class="w-full text-md mt-1 h-13" appearance="outline">
                                    <!-- <mat-icon class="icon-size-5 : mr-2" matPrefix svgIcon="mat_outline:info"></mat-icon> -->
                                    <input matInput [(ngModel)]="child.id" type="text" [placeholder]="''" [disabled]="true">
                                </mat-form-field>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="type">
                        <th class="pl-[4.5%]" mat-header-cell *matHeaderCellDef> Type </th>
                        <!-- <td mat-cell  *matCellDef="let element"> {{element.type}} </td> -->
                        <td class="pl-2" mat-cell *matCellDef="let element">
                            <div class="h-13" *ngFor="let child of element.type; let x = index">
                                <mat-form-field class="min-w-50 w-full text-md mt-1 h-13" appearance="outline">
                                    <!-- <mat-icon class="icon-size-5 : mr-2" matPrefix svgIcon="mat_outline:info"></mat-icon> -->
                                    <mat-select [disabled]="disabledfield || child.disable" [(ngModel)]="child.id" class="label-font-size">
                                        <mat-option *ngFor="let item of overtimeTypeDef" [value]="item.dropdownID">{{item.description}}</mat-option>
                                        <!-- <mat-option [value]="2">Paid</mat-option> -->
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="ot_type">
                        <th class="pl-[5%]" mat-header-cell *matHeaderCellDef> OT Type </th>
                        <!-- <td mat-cell *matCellDef="let element"> {{element.ot_type}} </td> -->
                        <td class="pl-2" mat-cell *matCellDef="let element ; let i = index">
                            <div class="h-13" *ngFor="let child of element.ot_type; let x = index">
                                <mat-form-field class="min-w-50 w-full text-md mt-1 h-13" appearance="outline">
                                    <!-- <mat-icon class="icon-size-5 : mr-2" matPrefix svgIcon="mat_outline:info"></mat-icon> -->
                                    <mat-select (selectionChange)="validation(child.id,element,x,i)" [disabled]="disabledfield || child.disable" [(ngModel)]="child.id" class="label-font-size">
                                        <mat-option *ngFor="let item of overtimeTimingDef" [value]="item.dropdownID">{{item.description}}</mat-option>
                                        <!-- <mat-option [value]="2">Paid</mat-option> -->
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="duration">
                        <th class="pl-[4.5%]" mat-header-cell *matHeaderCellDef> Duration </th>
                        <!-- <td mat-cell *matCellDef="let element"> {{element.duration}} </td> -->
                        <td class="pl-2" mat-cell *matCellDef="let element">
                            <div class="h-13" *ngFor="let child of element.duration; let x = index">
                                <mat-form-field class="w-full text-md mt-1 h-13" appearance="outline">
                                    <!-- <mat-icon class="icon-size-5 : mr-2" matPrefix svgIcon="mat_outline:info"></mat-icon> -->
                                    <input [disabled]="disabledfield || child.disable" matInput [(ngModel)]="child.id"  type="number" [placeholder]="''">
                                </mat-form-field>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="reason">
                        <th class="pl-[4.5%]" mat-header-cell *matHeaderCellDef> Reason </th>
                        <!-- <td mat-cell *matCellDef="let element"> {{element.reason}} </td> -->
                        <td class="pl-2" mat-cell *matCellDef="let element">
                            <div class="h-13" *ngFor="let child of element.reason; let x = index">
                                <mat-form-field class="w-full text-md mt-1 h-13" appearance="outline">
                                    <!-- <mat-icon class="icon-size-5 : mr-2" matPrefix svgIcon="mat_outline:info"></mat-icon> -->
                                    <input [disabled]="disabledfield || child.disable" matInput [(ngModel)]="child.id" type="text" [placeholder]="''">
                                </mat-form-field>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns ; sticky : true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-card>

            <!-- ========================Range table ================================================== -->
            <mat-card class="tablecss mat-elevation-z0" *ngIf="hidetablerange">
                <table mat-table #range [dataSource]="dataSource2" class="mat-elevation-z0" >

                    <ng-container matColumnDef="action">
                        <th class="pl-1" mat-header-cell *matHeaderCellDef> </th>
                        <td class="pl-1" mat-cell *matCellDef="let element ; let i = index">
                            <div class="h-13" *ngFor="let child of element.action; let x = index">
                                <button class="mt-1" mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon class="mt-5">more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="add(i)">
                                    <mat-icon class="mt-5" color="primary">add</mat-icon>
                                    <span color="primary">Add</span>
                                </button>
                                <!-- <button mat-menu-item>
                                    <mat-icon class="mt-5" color="primary">edit</mat-icon>
                                    <span color="primary">Edit</span>
                                </button> -->
                                <button (click)="deleterow(i,x)" mat-menu-item>
                                    <mat-icon class="mt-5" color="warn">delete</mat-icon>
                                    <span color="primary">Delete</span>
                                </button>
                                <!-- <button mat-menu-item disabled>
                              <mat-icon>voicemail</mat-icon>
                              <span>Check voice mail</span>
                            </button> -->
                            </mat-menu>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="date">
                        <th class="pl-[2.5%]" mat-header-cell *matHeaderCellDef> Date </th>
                        <td class="pr-2" mat-cell *matCellDef="let element ; let i = index">
                            <div class="h-13" *ngFor="let child of element.date; let x = index">
                                <mat-form-field class="min-w-full w-30 text-md mt-1 h-13" appearance="outline">
                                    <!-- <mat-icon class="icon-size-5 : mr-2" matPrefix svgIcon="mat_outline:info"></mat-icon> -->
                                    <input matInput [(ngModel)]="child.id" type="text" [placeholder]="''" [disabled]="true">
                                </mat-form-field>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="emp_code">
                        <th class="pl-[2%]" mat-header-cell *matHeaderCellDef> Employee Code </th>
                        <td class="pr-2" mat-cell *matCellDef="let element ; let i = index">
                            <div class="h-13" *ngFor="let child of element.emp_code; let x = index">
                                <mat-form-field class="min-w-full w-40 text-md mt-1 h-13" appearance="outline">
                                    <!-- <mat-icon class="icon-size-5 : mr-2" matPrefix svgIcon="mat_outline:info"></mat-icon> -->
                                    <input matInput [(ngModel)]="child.id" type="text" [placeholder]="''" [disabled]="true">
                                </mat-form-field>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="emp_name">
                        <th class="pl-[2%]" mat-header-cell *matHeaderCellDef> Employee Name </th>
                        <td class="pr-2" mat-cell *matCellDef="let element ; let i = index">
                            <div class="h-13" *ngFor="let child of element.emp_name; let x = index">
                                <mat-form-field class="min-w-full w-40 text-md mt-1 h-13" appearance="outline">
                                    <!-- <mat-icon class="icon-size-5 : mr-2" matPrefix svgIcon="mat_outline:info"></mat-icon> -->
                                    <input matInput [(ngModel)]="child.id" type="text" [placeholder]="''" [disabled]="true">
                                </mat-form-field>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="shift">
                        <th class="pl-[4.5%]" mat-header-cell *matHeaderCellDef> Shift </th>
                        <td class="pr-2" mat-cell *matCellDef="let element ; let i = index">
                            <div class="h-13" *ngFor="let child of element.shift; let x = index">
                                <mat-form-field class="w-full text-md mt-1 h-13" appearance="outline">
                                    <!-- <mat-icon class="icon-size-5 : mr-2" matPrefix svgIcon="mat_outline:info"></mat-icon> -->
                                    <input matInput [(ngModel)]="child.id" type="text" [placeholder]="''" [disabled]="true">
                                </mat-form-field>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="type">
                        <th class="pl-[4.5%]" mat-header-cell *matHeaderCellDef> Type </th>
                        <!-- <td mat-cell  *matCellDef="let element"> {{element.type}} </td> -->
                        <td class="pr-2" mat-cell *matCellDef="let element">
                            <div class="h-13" *ngFor="let child of element.type; let x = index">
                                <mat-form-field class="min-w-50 w-full text-md mt-1 h-13" appearance="outline">
                                    <!-- <mat-icon class="icon-size-5 : mr-2" matPrefix svgIcon="mat_outline:info"></mat-icon> -->
                                    <mat-select [disabled]="disabledfield || child.disabled" [(ngModel)]="child.id" class="label-font-size">
                                        <mat-option *ngFor="let item of overtimeTypeDef" [value]="item.dropdownID">{{item.description}}</mat-option>
                                        <!-- <mat-option [value]="2">Paid</mat-option> -->
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="ot_type">
                        <th class="pl-[2.5%]" mat-header-cell *matHeaderCellDef> OT Type </th>
                        <!-- <td mat-cell *matCellDef="let element"> {{element.ot_type}} </td> -->
                        <td class="pr-2" mat-cell *matCellDef="let element ; let i = index">
                            <div class="h-13" *ngFor="let child of element.ot_type; let x = index">
                                <mat-form-field class="min-w-full w-40 text-md mt-1 h-13" appearance="outline">
                                    <!-- <mat-icon class="icon-size-5 : mr-2" matPrefix svgIcon="mat_outline:info"></mat-icon> -->
                                    <mat-select [disabled]="disabledfield || child.disabled" [(ngModel)]="child.id" class="label-font-size"
                                    (selectionChange)="timevalidation(element,i,x,'ottype');validation(child.id,element,x,i)">
                                        <mat-option *ngFor="let item of overtimeTimingDef" [value]="item.dropdownID">{{item.description}}</mat-option>
                                        <!-- <mat-option [value]="2">Paid</mat-option> -->
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="ot_start">
                        <th class="pl-[5%]" mat-header-cell *matHeaderCellDef> OT Start </th>
                        <!-- <td mat-cell  *matCellDef="let element"> {{element.type}} </td> -->
                        <td class="pr-2" mat-cell *matCellDef="let element ; let i = index">
                            <div class="h-13" *ngFor="let child of element.ot_start; let x = index">
                                <mat-form-field  class="min-w-50 w-full text-md mt-1 h-13" appearance="outline">
                                    <input  [(ngModel)]="child.id" matInput [ngxMatDatetimePicker]="picker1" (click)="picker1.open()"
                                        placeholder=""  [datepicker]="false" (dateChange)="timevalidation(element,i,x,'datefrom')"
                                        [min]="date_min_max(element,x,true)" [max]="date_min_max(element,x,false)"
                                        [disabled]="disabledfield || child.disabled">
                                    <mat-datepicker-toggle (click)="copydate('start',element,i,x)" matSuffix [for]="picker1" [disabled]="disabledfield || child.disabled">
                                    </mat-datepicker-toggle>
                                    <ngx-mat-datetime-picker class="sample " #picker1 [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                                        [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="false" [touchUi]="touchUi"
                                        [color]="color" [enableMeridian]="true">
                                    </ngx-mat-datetime-picker>
                                </mat-form-field>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="ot_end">
                        <th class="pl-[5%]" mat-header-cell *matHeaderCellDef> OT End </th>
                        <!-- <td mat-cell *matCellDef="let element"> {{element.duration}} </td> -->
                        <td class="pr-2" mat-cell *matCellDef="let element ; let i = index">
                            <div class="h-13" *ngFor="let child of element.ot_end; let x = index">
                                <mat-form-field class="min-w-50 w-full text-md h-13 mt-1" appearance="outline">
                                    <input  [(ngModel)]="child.id" matInput [ngxMatDatetimePicker]="picker2" (click)="picker2.open()"
                                        placeholder=""  [datepicker]="false"
                                        (dateChange)="timevalidation(element,i,x,'dateto')"
                                        [min]="date_min_max(element,x,true)" [max]="date_min_max(element,x,false)"
                                        [disabled]="disabledfield || child.disabled">
                                    <mat-datepicker-toggle (click)="copydate('end',element,i,x)" matSuffix [for]="picker2" [disabled]="disabledfield || child.disabled">
                                    </mat-datepicker-toggle>
                                    <ngx-mat-datetime-picker  #picker2 [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                                        [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="false" [touchUi]="touchUi"
                                        [color]="color" [enableMeridian]="true">
                                    </ngx-mat-datetime-picker>
                                </mat-form-field>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="reason">
                        <th class="pl-[3%]" mat-header-cell *matHeaderCellDef> Reason </th>
                        <!-- <td mat-cell *matCellDef="let element"> {{element.reason}} </td> -->
                        <td class="pr-2" mat-cell *matCellDef="let element ; let i = index">
                            <div class="h-13" *ngFor="let child of element.reason; let x = index">
                                <mat-form-field class="w-full text-md mt-1 h-13" appearance="outline">
                                    <!-- <mat-icon class="icon-size-5 : mr-2" matPrefix svgIcon="mat_outline:info"></mat-icon> -->
                                    <input [(ngModel)]="child.id" matInput type="text" [placeholder]="''" [disabled]="disabledfield || child.disabled">
                                </mat-form-field>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsrange; sticky : true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsrange;"></tr>
                </table>
            </mat-card>
            <mat-paginator [attr.disabled]="isLoadingResults ? true : null" (page)="handlePageEvent($event)"
                *ngIf="by_range == 2 || by_range == 1" [length]="totalRows" [pageSize]="request.Length"
                [pageIndex]="request.Start" [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
        </mat-card>
    </div>
</div>
