.mat-datepicker-toggle{
    position: relative;
    bottom: 7px;
    font-size: medium;
}
.label-font-size{
    font-size: 120% ;
}
input{
    position: relative;
    bottom: 7px;
    font-size: medium;
}
.icon {
    position: relative;
    bottom: 8px;
}
.mat-select{
    position: relative;
    bottom: 10px;
}
.select{
    position: relative;
    bottom: 9px;
    font-size: medium;
}
table{
    width: 60%;
}
.mat-divider
{
    border-top-color: rgb(172, 172, 172) !important;
}
.mat-icon
{
    position: relative;
    bottom: 8px;
}

.mat-row {
    height: 40px !important;
}

/* new css as of 10-25-2023*/
.body-card {
    position: relative;
    height: 100%;
    padding-top: 1px;
}
.example-container {
    position: absolute;
    top: 110px;
    left: 15px;
    right: 15px;
    bottom: 80px;
    max-height: 100%;
    overflow: auto;
}
.paganation {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
tr.mat-header-row {
    height: 35px;
}
tr.mat-row {
    height: 22px;
    font-size: small;
}