.label-font-size{
    font-size: 15px;
}
.mat-icon{
    position: relative;
    bottom: 8px;
}
.mat-select{
    position: relative;
    bottom: 11px;
    font-size: medium;
}
.input{
    position: relative;
    bottom: 10px;
    font-size: medium;
}
/* .uploadbutton{
    position: relative;
    bottom: 7px;
    border-radius: 3px !important;
} */
.button-margin-top{
    padding-top: 1%;
}

::ng-deep .tab-hide .mat-tab-list .mat-tab-labels {
  display: none;
}
.mat-datepicker-toggle{
    position: relative;
    bottom: 7px;
    font-size: medium;
}

.scroll-container {
    display: flex;
    align-items: center;
    overflow: auto;
}


/* .body{
  width: 100%;
  padding-left: 5px;
} */
.body{
   text-align: left;
}

.area {
    height: 15px;
    width: 100%;
    resize: none;
    font-size: 16px;
    overflow-y: scroll;
    border-width: 2px;
    border-radius: 3px;
    margin-left: 4%;

}

table {
    width: 100%;
}
.button-margin-top{
    padding-top: 1%;
  }


.label-font-size{
  font-size: 15px;
 }
 .mat-icon{
     position: relative;
     bottom: 11px;
 }
 input{
   position: relative;
   bottom: 10px;
   font-size: medium;
 }
 .mat-datepicker-toggle{
  position: relative;
  bottom: 7px;
  font-size: medium;
 }
.mat-cell{
    align-items: center;
    vertical-align: top;
    padding-top: 10px;
}

.text{
    border-style: solid;
    border-width: 2px;
    margin-bottom: 33px;
    border-radius: 3px;
    height: 33px;
    min-width: 100px;
    max-width: 150px;
}
.reasoncss{
    margin-bottom: 30px;
}
textarea:valid{
    border-color: #C9C0C0;
    /* -webkit-text-fill-color: #FFFFF9; */
}
textarea:invalid{
    border-color: #DC2626;
    /* -webkit-text-fill-color:#DC2626; */
}
.upload:valid{
    border-color: aliceblue;
}
.upload:invalid{
    border-color: #DC2626;
}
.sample
{
    position: relative;
    bottom: 10px;
    font-size: medium;
}
.upb{
    position: relative;
    bottom: 15px;
    right: -5px;
    border-radius: 3px !important;
}
.upbo{
    position: relative;
    bottom: 15px;
    right: -2px;
    border-radius: 3px !important;
}
.mat-divider
{
    border-top-color: rgb(172, 172, 172) !important;
}

.example-list {
    width: 500px;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
  }

  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }

  .example-box.cdk-drag-disabled {
    background: #ccc;
    cursor: default;
  }

  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .cdk-drag-placeholder {
    opacity: 0;
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .example-box:last-child {
    border: none;
  }

  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
