<div class="flex flex-col flex-auto min-w-0">
    <!-- Main -->
    <div class="flex-auto  sm:p-2  w-full min-w-0 sm:absolute sm:inset-0 sm:overflow-auto text-md">
       <!-- Content -->
       <mat-card>
            <mat-card-title>
                    <app-card-title title="Pay Codes" [sub]="true" [back]="true" [switch]="false" (submitTap)="submit()"></app-card-title>
            </mat-card-title>

            <div class="grid grid-cols-7 gap-2 h-13">
                <mat-form-field appearance="outline">
                    <mat-label class="label-font-size">Pay Code Type</mat-label>
                    <mat-icon class="uploadbutton icon-size-5 : mr-2" matPrefix svgIcon="mat_outline:info"></mat-icon>
                    <mat-select [disabled]="isEdit" [(ngModel)]="paycodestype">
                      <mat-option *ngFor="let item of dropdownOptions.paycodeDef" [value]="item.dropdownID">{{item.description}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <!-- Earnings module  -->
            <mat-card class="h-100 mat-elevation-z0" *ngIf="paycodestype == 22862">
                <app-earnings></app-earnings>
            </mat-card>

            <!-- Deduction module  -->
            <mat-card class="h-100 mat-elevation-z0" *ngIf="paycodestype == 22863">
                <app-deductions></app-deductions>
            </mat-card>

            <!-- loan module -->
            <mat-card class="h-100 mat-elevation-z0" *ngIf="paycodestype == 30002">
                <app-loans></app-loans>
            </mat-card>

        </mat-card>
    </div>
</div>
