table {
    width: 100%;
}
.label-font-size{
    font-size: 15px;
   }
   .mat-icon{
       position: relative;
       bottom: 8px;
   }
   input{
     position: relative;
     bottom: 10px;
     font-size: medium;
   }
