<div class="flex-auto p-6 sm:p-6 overflow-y-auto ">
    <div class="flex-auto sm:p-2 h-full  w-full min-w-0 sm:absolute sm:inset-0 text-md"><br>

        <mat-vertical-stepper [linear]="false" #stepper>
            <mat-step [stepControl]="">
                <form [formGroup]="">
                    <ng-template matStepLabel>Employee Record</ng-template>
                    <div class="grid grid-cols-6 gap-2">
                        <mat-form-field class="w-full text-md h-10" appearance="outline">
                            <mat-label class="label-font-size">Module</mat-label>
                            <mat-select [placeholder]="">
                                <mat-option [value]="true">Yes</mat-option>
                                <mat-option [value]="false">No</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="w-full text-md h-10" appearance="outline">
                            <mat-label class="label-font-size">Sub-Module</mat-label>
                            <mat-select [placeholder]="">
                                <mat-option [value]="true">Yes</mat-option>
                                <mat-option [value]="false">No</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <button class="w-40 text-md mt-[3px] " mat-flat-button color="primary" aria-label="example icon">
                            <mat-icon class="mr-1 mt-5" svgIcon="mat_outline:post_add"></mat-icon>Search
                        </button>

                    </div><br>

                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z0 border">

                        <ng-container matColumnDef="module">
                            <th mat-header-cell *matHeaderCellDef> module </th>
                            <td mat-cell *matCellDef="let element"> {{element.module}} </td>
                        </ng-container>

                        <ng-container matColumnDef="submodule">
                            <th mat-header-cell *matHeaderCellDef> submodule </th>
                            <td mat-cell *matCellDef="let element"> {{element.submodule}} </td>
                        </ng-container>

                        <ng-container matColumnDef="activity">
                            <th mat-header-cell *matHeaderCellDef> activity </th>
                            <td mat-cell *matCellDef="let element"> {{element.activity}} </td>
                        </ng-container>

                        <ng-container matColumnDef="oldvalue">
                            <th mat-header-cell *matHeaderCellDef> oldvalue </th>
                            <td mat-cell *matCellDef="let element"> {{element.oldvalue}} </td>
                        </ng-container>

                        <ng-container matColumnDef="newvalue">
                            <th mat-header-cell *matHeaderCellDef> newvalue </th>
                            <td mat-cell *matCellDef="let element"> {{element.newvalue}} </td>
                        </ng-container>

                        <ng-container matColumnDef="datetime">
                            <th mat-header-cell *matHeaderCellDef> datetime </th>
                            <td mat-cell *matCellDef="let element"> {{element.datetime}} </td>
                        </ng-container>

                        <ng-container matColumnDef="changeby">
                            <th mat-header-cell *matHeaderCellDef> changeby </th>
                            <td mat-cell *matCellDef="let element"> {{element.changeby}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <div class="grid grid-cols-2 gap-2">
                        <mat-paginator [length]="20" #paginator0 [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                            aria-label="Select page of periodic elements"> </mat-paginator>
                    </div>

                    <div>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="">
                <form [formGroup]="">
                    <ng-template matStepLabel>Payroll Information History</ng-template>

                    <table mat-table [dataSource]="dataSource1" class="mat-elevation-z0 border">

                        <ng-container matColumnDef="module">
                            <th mat-header-cell *matHeaderCellDef> module </th>
                            <td mat-cell *matCellDef="let element"> {{element.module}} </td>
                        </ng-container>

                        <ng-container matColumnDef="activity">
                            <th mat-header-cell *matHeaderCellDef> activity </th>
                            <td mat-cell *matCellDef="let element"> {{element.activity}} </td>
                        </ng-container>

                        <ng-container matColumnDef="oldvalue">
                            <th mat-header-cell *matHeaderCellDef> oldvalue </th>
                            <td mat-cell *matCellDef="let element"> {{element.oldvalue}} </td>
                        </ng-container>

                        <ng-container matColumnDef="newvalue">
                            <th mat-header-cell *matHeaderCellDef> newvalue </th>
                            <td mat-cell *matCellDef="let element"> {{element.newvalue}} </td>
                        </ng-container>

                        <ng-container matColumnDef="datetime">
                            <th mat-header-cell *matHeaderCellDef> datetime </th>
                            <td mat-cell *matCellDef="let element"> {{element.datetime}} </td>
                        </ng-container>

                        <ng-container matColumnDef="changeby">
                            <th mat-header-cell *matHeaderCellDef> changeby </th>
                            <td mat-cell *matCellDef="let element"> {{element.changeby}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                    </table>

                    <div class="grid grid-cols-2 gap-2">
                        <mat-paginator [length]="20" #paginator0 [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                            aria-label="Select page of periodic elements"> </mat-paginator>
                    </div>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                    </div>
                </form>
            </mat-step>
        </mat-vertical-stepper>
    </div>
</div>
