<div class="flex flex-col flex-auto min-w-0">
    <!-- Main -->
    <div class="flex-auto p-2 sm:p-4">
        <!-- Content -->
        <mat-card class="h-full">
            <mat-card-title>
                <app-card-title title="Approval Process" [sub]="true" [back]="true"
                    (submitTap)="submit()"></app-card-title>
            </mat-card-title>
            <mat-card-content>
                <form [formGroup]="approvalForm">

                    <div class="grid grid-cols-8 gap-2 h-14">

                        <mat-form-field class="w-full text-md" appearance="outline">
                            <mat-label class="label-font-size">Name</mat-label>
                            <mat-icon class="icon-size-5 : mr-2" matPrefix svgIcon="mat_outline:info"></mat-icon>
                            <input [readonly]="disable" class="input" formControlName="name" matInput [placeholder]="'Name'" />

                        </mat-form-field>
                        <mat-form-field class="w-full text-md" appearance="outline">
                            <mat-label class="label-font-size">Description</mat-label>
                            <mat-icon class="icon-size-5 : mr-2" matPrefix svgIcon="mat_outline:info"></mat-icon>
                            <input class="input" [readonly]="disable"  formControlName="description" matInput [placeholder]="'Description'" />
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label class="label-font-size">Level of approval</mat-label>
                            <mat-icon class="icon-size-5 : mr-2" matPrefix svgIcon="mat_outline:info"></mat-icon>
                            <input  [readonly]="disable" class="input" type="number" (ngModelChange)="handlerSequenceAdd($event)"
                                formControlName="approvalLevel" matInput [placeholder]="'Approval Count'" />
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label class="label-font-size">Status</mat-label>
                            <mat-icon class="uploadbutton icon-size-5 : mr-2" matPrefix
                                svgIcon="mat_outline:info"></mat-icon>
                            <mat-select [disabled]="disablective" formControlName="active">
                                <mat-option [value]="true">Active</mat-option>
                                <mat-option [value]="false">Inactive</mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>

                </form>

                    <mat-divider class="mb-3"></mat-divider>

                    <div *ngFor="let element of approvalSources; let i = index">

                        <div class="grid grid-cols-2">

                            <div name="approval">
                                <div class="flex">
                                    <div class="mr-3">
                                        <!-- <app-employee-hierarchy [multiple]="false" [all]="false" [showTag]="true"
                                            [resultHierarchy]="resultHierarchy"></app-employee-hierarchy> -->
                                        <app-employee-hierarchy [multiple]="true" [all]="true" (selected)="field_count = $event"
                                        [resultHierarchy]="element.approval.resultHierarchy"></app-employee-hierarchy>

                                    </div>



                                </div>

                                <div class="flex">
                                    <mat-form-field class="w-50 text-md mr-3" appearance="outline">
                                        <mat-label class="label-font-size">Receive notification</mat-label>
                                        <mat-icon class="uploadbutton icon-size-5 : mr-2" matPrefix
                                            svgIcon="mat_outline:info"></mat-icon>
                                        <mat-select multiple [(ngModel)]="element.approval.notification">
                                            <mat-option *ngFor="let item of notificationDropdown"
                                                [value]="item.dropdownID">{{item.description}}</mat-option>

                                        </mat-select>
                                    </mat-form-field>

                                    <div class="mt-[3px]">
                                        <button (click)="handlerAddApproval(i, 'approval')" class="text-md"
                                            mat-flat-button color="primary" aria-label="example icon">
                                            <mat-icon class="mr-1 mt-3" svgIcon="mat_outline:post_add"></mat-icon>Add
                                        </button>
                                    </div>
                                </div>

                                <table class="table1 mat-elevation-z0 mb-10 border" >
                                    <thead class="custom-thead">
                                        <th>Approver Name</th>
                                        <th>Notification</th>
                                        <th>Action</th>
                                    </thead>

                                    <tbody style="text-align: center;">
                                        <tr class="sample" *ngFor="let source of element.approval.source ; let x = index">
                                            <td class="sample">
                                                <p>{{source.displayName}}</p>
                                            </td>
                                            <td class="sample">
                                                <p>{{source.notificationDescription}}</p>
                                            </td>
                                            <td class="sample">
                                                <button type="button" (click)="handlerDelete(i, x, 'approvalSource')"
                                                    mat-icon-button color="warn">
                                                    <mat-icon class="mt-3" svgIcon="mat_outline:delete"></mat-icon>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div name="escalate">
                                <div class="flex flex-wrap space-x-3 mb-7">

                                    <mat-form-field appearance="outline" class="w-40 h-13">
                                        <mat-label class="label-font-size">Escalate</mat-label>
                                        <mat-icon class="icon-size-5 : mr-2" matPrefix
                                            svgIcon="mat_outline:info"></mat-icon>
                                        <mat-select [(ngModel)]="element.escalate.hasEscalate">
                                            <mat-option [value]="true">Yes</mat-option>
                                            <mat-option [value]="false">No</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field *ngIf="element.escalate.hasEscalate" class="w-30 h-13 text-md"
                                        appearance="outline">
                                        <mat-label class="label-font-size">Days</mat-label>
                                        <mat-icon class="icon-size-5 : mr-2" matPrefix
                                            svgIcon="mat_outline:info"></mat-icon>
                                        <input class="input" matInput [(ngModel)]="element.escalate.days"
                                            [placeholder]="'Escalate Days'" />
                                    </mat-form-field>

                                    <mat-form-field *ngIf="element.escalate.hasEscalate" class="w-40 h-13 text-md" appearance="outline">
                                        <mat-label class="label-font-size">Receive notification</mat-label>
                                        <mat-icon class="uploadbutton icon-size-5 : mr-2" matPrefix svgIcon="mat_outline:info"></mat-icon>
                                        <mat-select multiple [(ngModel)]="element.escalate.notification">
                                            <mat-option *ngFor="let item of notificationDropdown"
                                                [value]="item.dropdownID">{{item.description}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <div *ngIf="element.escalate.hasEscalate">
                                        <app-employee-hierarchy [multiple]="true" [all]="true" (selected)="field_count = $event"
                                        [resultHierarchy]="element.escalate.resultHierarchy"></app-employee-hierarchy>
                                    </div>

                                    <div *ngIf="element.escalate.hasEscalate" class="mt-[2px]">
                                        <button (click)="handlerAddApproval(i, 'escalate')" class="text-md"
                                            mat-flat-button color="primary" aria-label="example icon">
                                            <mat-icon class="mr-1 mt-3" svgIcon="mat_outline:post_add"></mat-icon>Add
                                        </button>
                                    </div>
                                </div>
                                <table class="table1 mat-elevation-z0 mb-10 border">
                                    <thead>
                                        <th>Escalate Days</th>
                                        <th>Approver Name</th>
                                        <th>Notification</th>
                                        <th>Action</th>
                                    </thead>

                                    <tbody style="text-align: center;">
                                        <tr *ngFor="let source of element.escalate.source; let x = index">
                                            <td>
                                                <p>{{source.days}}</p>
                                            </td>
                                            <td>
                                                <p>{{source.displayName}}</p>
                                            </td>
                                            <td>
                                                <p>{{source.notificationDescription}}</p>
                                            </td>
                                            <td>
                                                <button type="button" (click)="handlerDelete(i, x, 'esclateSource')"
                                                    mat-icon-button color="warn">
                                                    <mat-icon class="mt-3" svgIcon="mat_outline:delete"></mat-icon>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

            </mat-card-content>
        </mat-card>
    </div>
</div>
