
  <div *ngIf="images && images.length > 0" class="div-main grid grid-cols-{{display}} gap-2">
    <div *ngFor="let ii of _display; let i = index" class="div-body">
        <img class="img-bg" [src]="images[selectedIndex+ii].src" [alt]="images[selectedIndex+ii].alt" 
            (click)="openLink(images[selectedIndex+ii].link)">

        <!-- <div class="titles grid grid-rows-2 gap-0">
            <span align="center">{{images[selectedIndex+ii].title}}</span>
            <span align="center">{{images[selectedIndex+ii].description}}</span>
        </div> -->

        <!-- <div class="titles">
            <div class="grid grid-rows-2 gap-0">
                <span class="tit">{{images[selectedIndex+ii].title}}</span>
                <span class="desc">{{images[selectedIndex+ii].description}}</span>
            </div>
        </div> -->
    </div>
  </div>

  <div *ngIf="images && images.length > 0" class="carousel-container">

    <!-- <div class="carousel-context-container" (click)="openLink(images[selectedIndex].link)">
        <div class="grid grid-rows-2">
            <span class="title">{{images[selectedIndex].title}}</span>
            <span class="desc">{{images[selectedIndex].description}}</span>
        </div>
    </div> -->

    <div *ngIf="indicators" class="carousel-dot-container">
        <span *ngFor="let dot of _dot; let i=index" 
            class="dot"
            [ngClass]="{'active' : selectedIndex === i}"
            (click)="selectImage(i)"
        >
        </span>
    </div>

    <button *ngIf="controls" class="btn-carousel btn-prev" 
        (click)="onPrevClick()">
        <i class="fas fa-arrow-circle-left icon-carousel icon-prev"></i>
    </button>

    <button *ngIf="controls" class="btn-carousel btn-next"
        (click)="onNextClick()">
        <i class="fas fa-arrow-circle-right icon-carousel icon-next"></i>
    </button>
</div>