.label-font-size{
    font-size: 15px;
}
.input{
    position: relative;
    bottom: 8px;
    font-size: medium;
}
.mat-select{
    position: relative ;
    bottom: 10px ;
    font-size: medium;
}
.mat-icon{
    position: relative;
    bottom: 9px;
}
.mat-divider {
    border-top-color: rgb(172, 172, 172) !important;
}
.mat-datepicker-toggle{
    position: relative;
    bottom: 5px;
    font-size: medium;
}
input{
    position: relative;
    bottom: 5px;
    font-size: medium;
}
