<div class="flex flex-col flex-auto min-w-0">
    <!-- Main -->
    <div class="flex-auto  sm:p-2  w-full min-w-0 sm:absolute sm:inset-0 sm:overflow-auto text-md">
        <!-- Content -->
        <mat-card>
            <mat-card-title *ngIf="!hidebuttons">
                <app-card-title title="Loans" [sub]="true" [back]="true" [switch]="false"
                    (submitTap)="submit()"></app-card-title>
            </mat-card-title><br>
            <mat-card-title *ngIf="hidebuttons">
                <div class="grid place-items-end">
                    <button *ngIf="hidebuttons" (click)="confirm()" class="text-md" mat-flat-button color="primary" aria-label="example icon">
                        Confirm
                    </button>
                </div>
            </mat-card-title>
            <form [formGroup]="loansform">
                <div class="grid grid-cols-8 gap-2 h-13">

                    <app-dropdown-custom [control]="loansform.get('employeeId')" dropdownLabel="description" (selected)="employeeCode()"
                        [icon]="'mat_outline:info'" [type]="1005" [all]="false" [multiple]="false" [useControl]="true" [disabled]="!enable"
                        [options]="dropdownOptions.employeedef" [objectValue]="true">
                    </app-dropdown-custom>

                    <mat-form-field class="w-full text-md" appearance="outline">
                        <mat-label class="label-font-size">Employee Code</mat-label>
                        <mat-icon class="iconsize icon-size-5 : mr-2" matPrefix svgIcon="mat_outline:info"></mat-icon>
                        <input class="input" formControlName="empId" type="text" matInput [placeholder]="''" readonly>
                    </mat-form-field>

                    <app-dropdown-custom [control]="loansform.get('loanTypeID')" [icon]="'mat_outline:info'"
                        [type]="1016" [value]="this.loansform.value.loanTypeID" [options]="dropdownOptions.loantypedef"
                        [useControl]="true"></app-dropdown-custom>

                    <mat-form-field class="w-full text-md" appearance="outline">
                        <mat-label class="label-font-size">Loan Number</mat-label>
                        <mat-icon class="iconsize icon-size-5 : mr-2" matPrefix svgIcon="mat_outline:info"></mat-icon>
                        <input class="input" formControlName="loanNumber" type="text" matInput [placeholder]="''">
                    </mat-form-field>

                    <mat-form-field class="w-full text-md" appearance="outline">
                        <mat-label class="label-font-size">Granted Date</mat-label>
                        <input matInput formControlName="loanDate" [matDatepicker]="df" readonly
                            [placeholder]="'MM/DD/YYYY'" (click)="df.open()">
                        <mat-datepicker-toggle matSuffix [for]="df"></mat-datepicker-toggle>
                        <mat-datepicker #df></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="w-full text-md" appearance="outline">
                        <mat-label class="label-font-size">Starting Date</mat-label>
                        <input matInput formControlName="recurStartDate" [matDatepicker]="df1" readonly
                            [placeholder]="'MM/DD/YYYY'" (click)="df1.open()">
                        <mat-datepicker-toggle matSuffix [for]="df1"></mat-datepicker-toggle>
                        <mat-datepicker #df1></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="w-full text-md" appearance="outline">
                        <mat-label class="label-font-size">Maturity Date</mat-label>
                        <input matInput formControlName="recurEndDate" [matDatepicker]="df2"
                            (dateChange)="calculatemonth()" readonly [placeholder]="'MM/DD/YYYY'" (click)="df2.open()">
                        <mat-datepicker-toggle matSuffix [for]="df2"></mat-datepicker-toggle>
                        <mat-datepicker #df2></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="w-full text-md" appearance="outline">
                        <mat-label class="label-font-size">Tenure(in mos.)</mat-label>
                        <mat-icon class="iconsize icon-size-5 : mr-2" matPrefix svgIcon="mat_outline:info"></mat-icon>
                        <input class="input" formControlName="tenure" type="number" matInput [placeholder]="''">
                    </mat-form-field>
                </div>

                <div class="mb-2">
                    <mat-divider></mat-divider>
                </div>
                <div class="grid grid-cols-5 gap-2 h-13">
                    <mat-form-field class="w-full text-md" appearance="outline">
                        <mat-label class="label-font-size">Loan Amount</mat-label>
                        <mat-icon class="iconsize icon-size-5 : mr-2" matPrefix svgIcon="mat_outline:info"></mat-icon>
                        <input formControlName="withInterest"matInput [OnlyNumber]="true" [max]="99999999999999999" [min]="0" [maxLength]="17" [placeholder]="'Amount'" [allowthousand]="true" [allowNegative]="true"  [decimal]="2" [allowDecimal]="true">
                    </mat-form-field>
                    <mat-form-field class="w-full text-md" appearance="outline">
                        <mat-label class="label-font-size">Principal Amount</mat-label>
                        <mat-icon class="iconsize icon-size-5 : mr-2" matPrefix svgIcon="mat_outline:info"></mat-icon>
                        <input formControlName="principalAmount"matInput [OnlyNumber]="true" [max]="99999999999999999" [min]="0" [maxLength]="17" [placeholder]="'Amount'" [allowthousand]="true" [allowNegative]="true"  [decimal]="2" [allowDecimal]="true">
                    </mat-form-field>
                    <mat-form-field class="w-full text-md" appearance="outline">
                        <mat-label class="label-font-size">Previous Payments</mat-label>
                        <mat-icon class="iconsize icon-size-5 : mr-2" matPrefix svgIcon="mat_outline:info"></mat-icon>
                        <input formControlName="totalPayments"matInput [OnlyNumber]="true" [max]="99999999999999999" [min]="0" [maxLength]="17" [placeholder]="'Amount'" [allowthousand]="true" [allowNegative]="true"  [decimal]="2" [allowDecimal]="true">
                    </mat-form-field>

                    <div class="h-13">
                        <app-dropdown [useControl]="true" [control]="loansform.get('payrollTypeId')" [options]="dropdownOptions.payoutTypeDef" [label]="'Payroll Type'" [icon]="'mat_outline:info'" [type]="74"> </app-dropdown>
                    </div>

                    <div class="h-13">
                        <app-dropdown [useControl]="true" [control]="loansform.get('cutoffId')"
                            [options]="dropdownOptions.cutoffdef" [icon]="'mat_outline:info'"
                            label="Amortization Frequency" [type]="53"> </app-dropdown>
                    </div>
                </div>
                <div class="grid grid-cols-5 gap-2">
                    <div class="col-span-4">
                        <div class="grid grid-cols-4 gap-2">
                            <mat-form-field class="w-full text-md" appearance="outline">
                                <mat-label class="label-font-size">Amortization Amount</mat-label>
                                <mat-icon class="iconsize icon-size-5 : mr-2" matPrefix svgIcon="mat_outline:info"></mat-icon>
                                <input formControlName="amortizationAmount"matInput [OnlyNumber]="true" [max]="99999999999999999" [min]="0" [maxLength]="17" [placeholder]="'Amount'" [allowthousand]="true" [allowNegative]="true"  [decimal]="2" [allowDecimal]="true">
                            </mat-form-field>
                            <mat-form-field class="w-full text-md" appearance="outline">
                                <mat-label class="label-font-size">Promissory Note</mat-label>
                                <mat-icon class="iconsize icon-size-5 : mr-2" matPrefix svgIcon="mat_outline:info"></mat-icon>
                                <input class="input" formControlName="promissoryNoteNum" type="text" matInput
                                    [placeholder]="''">
                            </mat-form-field>
                            <mat-form-field class="w-full text-md" appearance="outline">
                                <mat-label class="label-font-size">Remarks</mat-label>
                                <mat-icon class="iconsize icon-size-5 : mr-2" matPrefix svgIcon="mat_outline:info"></mat-icon>
                                <input class="input" formControlName="remarks" type="text" matInput [placeholder]="''">
                            </mat-form-field>
                            <mat-form-field class="w-full text-md" appearance="outline">
                                <mat-label class="label-font-size">Status</mat-label>
                                <mat-select formControlName="loanStatus" [placeholder]="''">
                                    <mat-option [value]="1">Open</mat-option>
                                    <mat-option [value]="2">Close</mat-option>
                                    <mat-option [value]="3">Pause</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-span-1">
                        <div class="grid grid-cols-2 gap-2" *ngIf="loansform.value.loanStatus==3">
                            <mat-form-field class="w-full text-md" appearance="outline">
                                <mat-label class="label-font-size">Date From</mat-label>
                                <input matInput formControlName="isHoldFrom" [matDatepicker]="df3" readonly
                                    [placeholder]="'MM/DD/YYYY'" (click)="df3.open()">
                                <mat-datepicker-toggle matSuffix [for]="df3"></mat-datepicker-toggle>
                                <mat-datepicker #df3></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field class="w-full text-md" appearance="outline">
                                <mat-label class="label-font-size">Date To</mat-label>
                                <input matInput formControlName="isHoldTo" [matDatepicker]="df4" readonly
                                    [min]="loansform.value.isHoldFrom"
                                    [placeholder]="'MM/DD/YYYY'" (click)="df4.open()">
                                <mat-datepicker-toggle matSuffix [for]="df4"></mat-datepicker-toggle>
                                <mat-datepicker #df4></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <mat-form-field class="w-full text-md" appearance="outline" *ngIf="loansform.value.loanStatus==2">
                            <mat-label class="label-font-size">Close on date</mat-label>
                            <input matInput formControlName="dateClosed" [matDatepicker]="df2" readonly
                                [placeholder]="'MM/DD/YYYY'" (click)="df2.open()">
                            <mat-datepicker-toggle matSuffix [for]="df2"></mat-datepicker-toggle>
                            <mat-datepicker #df2></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </mat-card>
    </div>
</div>
