.example-container {
    height: 50%;
    overflow: auto;
}

table {
    width: 100%;
    text-align: center;

}

.flex {
    overflow: hidden;
}

th.mat-header-cell {
    text-align: center;
}

.th-right {
    text-align: left;
    width: 25%;

}

.td-right {
    text-align: left;
}