<h1 mat-dialog-title>Cutoff Detail</h1>
<div class="label-font-size " mat-dialog-content>
</div><br>
<form [formGroup]="lockingform">

    <div class="grid grid-row-3">
            <h1 mat-dialog-title class="text-lg h-5">Cut-off Name</h1>
            <mat-form-field class="w-full text-md h-13" appearance="outline" *ngIf="this.data.payrolltype==12697" >
                <mat-label class="label-font-size">Month</mat-label>
                <mat-icon class="icon-size-5 : mr-2" matPrefix svgIcon="mat_outline:info"></mat-icon>
                <mat-select formControlName="monthId" required>
                    <mat-option *ngFor="let item of month" [value]="item.id">{{item.description}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="w-full text-md h-13" appearance="outline" *ngIf="this.data.payrolltype==12697">
                <mat-label class="label-font-size">Week</mat-label>
                <mat-icon class="icon-size-5 : mr-2" matPrefix svgIcon="mat_outline:info"></mat-icon>
                <mat-select  formControlName="weekId" required>
                    <mat-option *ngFor="let item of Week" [value]="item.id">{{item.description}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="w-70 xxl:w-100 text-md h-13" appearance="outline" >
                <mat-label class="label-font-size">Date From</mat-label>
                <input formControlName="dateFrom" matInput [matDatepicker]="df" [placeholder]="'MM/DD/YYYY'"
                  (click)="df.open() ">
                <mat-datepicker-toggle matSuffix  [for]="df"></mat-datepicker-toggle>
                <mat-datepicker  #df></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="w-70 xxl:w-100 text-md h-15" appearance="outline">
                <mat-label class="label-font-size">Date To</mat-label>
                <input formControlName="dateTo" matInput [matDatepicker]="df1" [placeholder]="'MM/DD/YYYY'"
                    (click)="df.open()">
                <mat-datepicker-toggle matSuffix  [for]="df1"></mat-datepicker-toggle>
                <mat-datepicker #df1></mat-datepicker>
            </mat-form-field>

            <h1 mat-dialog-title class="text-lg h-5">Payout</h1>
            <mat-form-field class="w-70 xxl:w-100 text-md h-15" appearance="outline">
            <input matInput [ngxMatDatetimePicker]="picker"  (click)="picker.open()"
                            placeholder="Choose a date"
                            [min]="minDate" [max]="maxDate"
                            formControlName="payout"
                            [disabled]="false">
            <mat-datepicker-toggle matSuffix [for]="picker">
            </mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker
                [showSpinners]="showSpinners"
                [showSeconds]="showSeconds"
                [touchUi]="touchUi"
                [color]="color"
                [enableMeridian]="true">
            </ngx-mat-datetime-picker>
            </mat-form-field>

            <mat-checkbox [disabled]="locked(lockingform.get('filingLockDate').value)" (change)="disabledlocking()" formControlName="filingLockStatus" color="primary" class="example-margin h-10">Lock Filing</mat-checkbox>

            <mat-form-field class="w-70 xxl:w-100 text-md h-15" appearance="outline">
                <input matInput [ngxMatDatetimePicker]="picker1"  (click)="picker1.open()"
                                placeholder="Choose a date"
                                formControlName="filingLockDate"
                                [disabled]="locked(lockingform.get('filingLockDate').value)">
                <mat-datepicker-toggle matSuffix [for]="picker1">
                </mat-datepicker-toggle>
                <ngx-mat-datetime-picker #picker1 [disabled]="locked(lockingform.get('filingLockDate').value)"
                [showSpinners]="showSpinners"
                [showSeconds]="showSeconds"
                [stepHour]="stepHour" [stepMinute]="stepMinute"
                [stepSecond]="false"
                [touchUi]="touchUi"
                [color]="color"
                [enableMeridian]="true">
                </ngx-mat-datetime-picker>
            </mat-form-field>

            <mat-checkbox [disabled]="locked(lockingform.get('approvalLockDate').value)" (change)="disabledapproval()" formControlName="approvalLockStatus" color="primary" class="example-margin  h-10">Lock Approval</mat-checkbox>

            <mat-form-field class="w-70 xxl:w-100 text-md h-15" appearance="outline">
                <input matInput [ngxMatDatetimePicker]="picker2"  (click)="picker2.open()"
                                placeholder="Choose a date"
                                formControlName="approvalLockDate"
                                [disabled]="locked(lockingform.get('approvalLockDate').value)">
                <mat-datepicker-toggle matSuffix [for]="picker2">
                </mat-datepicker-toggle>
                <ngx-mat-datetime-picker #picker2 [disabled]="locked(lockingform.get('approvalLockDate').value)"
                [showSpinners]="showSpinners"
                [showSeconds]="showSeconds"
                [stepHour]="stepHour" [stepMinute]="stepMinute"
                [stepSecond]="stepSecond"
                [touchUi]="touchUi"
                [color]="color"
                [enableMeridian]="true">
                </ngx-mat-datetime-picker>
            </mat-form-field>

            <div class="grid grid-cols-3 gap-2">
                <div></div>
                <!-- <button mat-flat-button mat-dialog-close color="primary">Cancel</button>
                <button class="" mat-flat-button color="primary">Save</button> -->
                <button mat-flat-button mat-dialog-close color="primary">Cancel</button>
                <button class="" mat-flat-button color="primary" (click)="copyNow()">Save</button>
            </div>
    </div>
</form>



