<mat-form-field *ngIf="useControl" class="w-full text-md" appearance="outline" [matTooltip]="isOptionsEmpty ? 'No '+placeholder+' found..' : ''">
  <mat-label class="label-font-size">{{placeholder}}</mat-label>
  <!-- <mat-icon class="icon-size-5 : mr-2" matPrefix svgIcon="mat_outline:info"></mat-icon> -->
  <mat-select [formControl]="control" [id]="id" [multiple]="multiple" (selectionChange)="selectedEvent($event)" [placeholder]="placeholder" (infiniteScroll)="getNextBatch()" msInfiniteScroll [complete]="complete" [threshold]="'10%'" (openedChange)="onSelectOpen($event)" [disabled]="isDisabled">
    <mat-option class="border-2 first-option">
      <input type="input" class="border-2 pr-4 pl-4 search-field" (click)="$event.stopPropagation()" [placeholder]="'Find ' + placeholder + ' ..'" [formControl]="inputChange">
    </mat-option>
    <mat-option [value]="0" (click)="selectAll()" #allSelected *ngIf="all">All</mat-option>
    <mat-option *ngFor="let option of options$ | async" [value]="option.dropdownID" (click)="selectItem(option.dropdownID, control.value)">
      {{option.description}}
    </mat-option>
  </mat-select>
</mat-form-field>


<mat-form-field *ngIf="!useControl" class="w-full text-md" appearance="outline" [matTooltip]="isOptionsEmpty ? 'No '+placeholder+' found..' : ''">
  <mat-label class="label-font-size">{{placeholder}}</mat-label>
  <!-- <mat-icon class="icon-size-5 : mr-2" matPrefix svgIcon="mat_outline:info"></mat-icon> -->
  <mat-select [id]="id" [(ngModel)]="value" [multiple]="multiple" (selectionChange)="selectedEvent($event)" [placeholder]="placeholder" (infiniteScroll)="getNextBatch()" msInfiniteScroll [complete]="complete" [threshold]="'10%'" (openedChange)="onSelectOpen($event)" [disabled]="isDisabled">
    <mat-option class="border-2 first-option">
      <input type="input" class="border-2 pr-4 pl-4 search-field" (click)="$event.stopPropagation()" [placeholder]="'Find ' + placeholder + ' ..'" [formControl]="inputChange">
    </mat-option>
    <mat-option [value]="0" (click)="selectAll()" #allSelected *ngIf="all">All</mat-option>
    <mat-option *ngFor="let option of options$ | async" [id]="option?.encryptID" [value]="option[dropdownValue] ? option[dropdownValue] : option" (click)="selectItem(option.dropdownID, value)">
      {{option[dropdownLabel]}}
    </mat-option>
    <mat-select-trigger> {{selDisplayNgModel(value)}}
      <span *ngIf="multiple && value?.length > 1 && isALL(value)" class="example-additional-selection">
        (+{{(value?.length || 0) - 1}} {{value?.length === 2 ? 'other' : 'others'}})
      </span>
    </mat-select-trigger>
  </mat-select>
</mat-form-field>