<div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0">
    <div class="relative hidden md:flex flex-auto items-center justify-center h-full p-2 lg:px-2 overflow-hidden bg-gray-800 dark:border-r">
        <div class="grid grid-cols-3 gap-5">
            <div *ngFor="let item of images" class="xl:h-100 xl:w-100 md:h-[280px] md:w-[280px] bg-white parent" (click)="openLink(item.link)">
                <img [src]="item.src" style="height: 100%; width: 100%; border-radius: 10px;" (click)="openLink(item.link)">
                <span align="center" class="float-span md:text-sm xl:text-md" (click)="openLink(item.link)">
                    <span style="font-weight:bold">{{item.title}}</span>
                    <br>
                    <span>{{item.description}}</span>
                </span>
              </div>
        </div>
    </div>
    <div
    class="md:flex md:justify-end w-full sm:w-auto md:h-full py-8 px-4 sm:p-12 md:p-2 xl:p-12 md:pt-14 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
    <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0 md:p-10 xl:p-2 h-full">
        <!-- Logo -->
        <div class="w-full">
            <img src="assets/images/logo/logo.png">
        </div>

        <!-- Title -->
        <!-- <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Sign in</div> -->
        <div class="flex items-baseline mt-0.5 font-medium">
            <div>Reset your password.</div>
        </div>

        <!-- Alert -->
        <fuse-alert class="mt-8" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type"
            [@shake]="alert.type === 'error'">
            {{alert.message}}
        </fuse-alert>

        <!-- Forgot password form -->
        <form class="mt-8" [formGroup]="forgotPasswordForm" #forgotPasswordNgForm="ngForm">

            <!-- Username field -->
            <mat-form-field *ngIf="show" class="w-full">
                <mat-label>Company Code</mat-label>
                <input id="companyCode" matInput [formControlName]="'companyCode'">
                <mat-error *ngIf="forgotPasswordForm.get('companyCode').hasError('required')">
                    Company Code cannot be blank
                </mat-error>
                <mat-error *ngIf="forgotPasswordForm.get('companyCode').hasError('companyCode')">
                    Please enter a valid Company Code
                </mat-error>
            </mat-form-field>

            <mat-form-field *ngIf="show" class="w-full">
                <mat-label>Username</mat-label>
                <input id="username" matInput [formControlName]="'username'">
                <mat-error *ngIf="forgotPasswordForm.get('username').hasError('required')">
                    username cannot be blank
                </mat-error>
                <mat-error *ngIf="forgotPasswordForm.get('username').hasError('username')">
                    Please enter a valid Username
                </mat-error>
            </mat-form-field>

            <!-- Code field -->
            <mat-form-field *ngIf="!show" class="w-full">
                <mat-label>Generated code</mat-label>
                <input id="code" matInput [formControlName]="'code'">
                <mat-error *ngIf="showerror==true">
                    Employee code is required
                </mat-error>
                <mat-error *ngIf="forgotPasswordForm.get('code').hasError('code')">
                    Please enter a valid Employee code
                </mat-error>
            </mat-form-field>

            <!-- Submit button -->
            <button class="fuse-mat-button-large w-full mt-3" mat-flat-button [color]="'primary'"
                [disabled]="forgotPasswordForm.disabled" (click)="onshow($event)">
                <!-- [routerLink]="['/expire-password']" -->
                <span *ngIf="show">
                    Reset Password
                </span>
                <span *ngIf="!show">
                    Send Code
                </span>
                <mat-progress-spinner *ngIf="forgotPasswordForm.disabled" [diameter]="24"
                    [mode]="'indeterminate'"></mat-progress-spinner>
            </button>

            <!-- Form footer -->
            <div class="mt-8 text-md font-medium text-secondary flex justify-between">
                <a *ngIf="!show" class="ml-1 text-primary-500 hover:underline cursor-pointer" (click)="back()">Go back
                </a>

                <span>Return to
                    <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['/login']">log in
                    </a>
                </span>
                
            </div>
        </form>
    </div>
    </div>
</div>
