input{
    position: relative;
    bottom: 10px;
    font-size: medium;
}
.icon-size-5{
    position: relative;
    bottom: 10px;
    border-radius: 3px !important;
}

.label-font-size{
    font-size: 15px;
}

/* table { 
    width: 100%;
} */

.mat-column-action {
    width: 50px;
}

/* .scroll-container {
    display: flex;
    align-items: center;
    overflow: auto;
} */

.Bborder {
    border-radius: 5px;
}

/*  new css for table */
.example-container {
    min-height: 150px;
    width: 100%;
    max-width: 100%;
    overflow: auto;
  }

  table {
    width: 100%;
  }

  .mat-mdc-table-sticky-border-elem-right {
    border-left: 1px solid #e0e0e0;
  }
  
  .mat-mdc-table-sticky-border-elem-left {
    border-right: 1px solid #e0e0e0;
  }