
<section class="example-container" tabindex="0">
  <table #dynamicTable mat-table [dataSource]="dataSource" class="mat-elevation-z0 border">
    <ng-container *ngFor="let column of form;let rowIndex = index" [matColumnDef]="column.key">
      <th mat-header-cell *matHeaderCellDef class="pl-2 text-md">{{column.label}}</th>
      <td mat-cell *matCellDef="let element;let ii = index" class="pl-2 text-md">
        <div *ngIf="column.type=='text'" [hidden]="!column.visible" class="h-13 mt-1">
          <mat-form-field class=" w-full text-md " appearance="outline">
            <mat-label class="label-font-size"> {{column.label}}</mat-label>
            <mat-icon class="icon-size-5 : mr-2 " matPrefix svgIcon="mat_outline:info"></mat-icon>
            <input class="input" matInput type="text" [disabled]="!column.editable" [(ngModel)]="element[column.key]"
              placeholder="{{column.label}}">
          </mat-form-field>
        </div>
        <div *ngIf="column.type=='number'" [hidden]="!column.visible" class="h-13 mt-1">
          <mat-form-field class=" w-full text-md " appearance="outline">
            <mat-label class="label-font-size"> {{column.label}}</mat-label>
            <mat-icon class="icon-size-5 : mr-2" matPrefix svgIcon="mat_outline:info"></mat-icon>
            <input class="input" matInput type="number" [disabled]="!column.editable" [(ngModel)]="element[column.key]"
              placeholder="{{column.label}}">
          </mat-form-field>
        </div>
        <div *ngIf="column.type=='datepicker'" [hidden]="!column.visible" class="h-13 mt-1">
          <mat-form-field class="w-full text-md" appearance="outline">
            <mat-label class="label-font-size"> {{column.label}}</mat-label>
            <input matInput [(ngModel)]="element[column.key]" [matDatepicker]="picker" readonly
              [placeholder]="'MM/DD/YYYY'" (click)="picker.open()">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div *ngIf="column.type=='datepicker-mmdd'" [hidden]="!column.visible">
          <app-month-date label="{{column.label}}"></app-month-date>
        </div>
        <div *ngIf="column.type=='time'" [hidden]="!column.visible" class="h-13 mt-1">
          <mat-form-field class="w-full text-md" appearance="outline">
            <mat-label class="label-font-size">{{column.label}}</mat-label>
            <mat-icon class="icon-size-5 : mr-2" matPrefix svgIcon="mat_outline:access_time"></mat-icon>
            <input [(ngModel)]="element[column.key]" (ngModelChange)="handleTimeEvent($event, column ,i)" readonly
              [strict]="false" mode="12h" type="text" matTimepicker #t="matTimepicker" [placeholder]="'12:00 am'">
          </mat-form-field>
        </div>
        <!-- Select Dropdown -->
        <div *ngIf="column.type=='select'" [hidden]="!column.visible" class="h-13 mt-1">
          <app-dropdown [useControl]="false" (selected)="element[column.key]=$event" [value]="element[column.key]"
            [multiple]="column.multiselect" [options]="column.options" [icon]="'mat_outline:info'"
            [type]="column.dropdown"> </app-dropdown>
        </div>
        <!-- Custom Dropdown -->
        <div *ngIf="column.type=='custom'" [hidden]="!column.visible" class="h-13 mt-1">
          <app-dropdown-custom [useControl]="false" (selected)="element[column.key]=$event"
            [value]="element[column.key]" [multiple]="column.multiselect"
            [type]="column.dropdownType.uri"></app-dropdown-custom>
        </div>
        <!-- Employee Hierarchy -->
        <div *ngIf="column.type=='e-hierarchy'" [hidden]="!column.visible" class="h-13 mt-1">
          <app-employee-hierarchy class="col-span-{{field_count+1}}" (selected)="field_count = $event"
            [resultHierarchy]="resultHierarchy" [showTag]="false" [defaultTag]="column.defaultTag"
            [multiple]="column.multiselect"></app-employee-hierarchy>
        </div>
        <!-- Dropdown Hierarchy -->
        <div *ngIf="column.type=='d-hierarchy'" [hidden]="!column.visible" class="h-13 mt-1">
          <app-dropdown-hierarchy [useControl]="false" [all]="column.all" (selected)="element[column.key]=$event"
            [value]="element[column.key]" [multiple]="column.multiselect"
            [type]="column.dropdownType.uri" [type_id]="column.dropdownType.type_id" [id]="isNumber(element,column.dropdownType.id)">
          </app-dropdown-hierarchy>
        </div>

        <div *ngIf="column.type=='switch'" [hidden]="!column.visible">
          <mat-slide-toggle color="primary" [(ngModel)]="element[column.key]">{{column.label}}</mat-slide-toggle>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="action" [stickyEnd]="true">
      <th mat-header-cell *matHeaderCellDef class="pl-2 text-md">
        <button mat-flat-button class="w-full" color="primary" (click)="add_datasource()">
          <mat-icon class="icon-size-5 mt-5 mr-1" [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>Add
        </button>
      </th>
      <td mat-cell *matCellDef="let element;let i = index" class="pl-2 text-md">
        <div class="h-13 mt-1">
          <button type="button" matSuffix class="Bborder w-full" (click)="delete_datasource(i,element.encryptId)"
            mat-icon-button color="warn">
            <mat-icon svgIcon="mat_outline:delete"></mat-icon>
          </button>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columndefs" sticky></tr>
    <tr mat-row *matRowDef="let row; columns: columndefs;"></tr>
  </table>
</section>
