<!-- Main -->
<div class="flex-auto p-6 sm:p-6 overflow-y-auto">
    <!-- Main -->
    <div class="flex-auto  sm:p-2  w-full min-w-0 sm:absolute sm:inset-0 sm:overflow-auto text-md">
        <form [formGroup]="coeForm">
            <div class="grid grid-cols-5 gap-4 h-5">
                <!-- <app-dropdown [formControl]="coe" [options]="coe" [icon]="'mat_outline:info'"></app-dropdown> -->
                <mat-form-field appearance="outline">
                    <mat-label class="label-font-size">Purpose</mat-label>
                    <mat-icon class="uploadbutton icon-size-5 : mr-2" matPrefix svgIcon="mat_outline:info"></mat-icon>
                    <mat-select formControlName="coe">
                    <mat-option *ngFor="let item of coe"  [value]="item.id">{{item.description}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- <app-dropdown [formControl]="coeOpt" [options]="application" [icon]="'mat_outline:info'"></app-dropdown> -->
                <mat-form-field appearance="outline">
                    <mat-label class="label-font-size">With Salary</mat-label>
                    <mat-icon class="uploadbutton icon-size-5 : mr-2" matPrefix svgIcon="mat_outline:info"></mat-icon>
                    <mat-select formControlName="coeOpt">
                    <mat-option *ngFor="let item of application"  [value]="item.id">{{item.description}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="w-full text-md" appearance="outline">
                    <mat-label class="label-font-size">Remarks</mat-label>
                    <mat-icon class="icon-size-5 : mr-2" matPrefix svgIcon="mat_outline:info"></mat-icon>
                    <input class="input" formControlName="remarksOpt" matInput [placeholder]="'Remarks'"/>
                </mat-form-field>
            </div>
        </form>
    </div>
</div>
