.label-font-size{
    font-size: 15px;
}
.mat-select{
    position: relative;
    bottom: 9px;
    font-size: medium;
}
.icon {
    position: relative;
    bottom: 10px;
}
.mat-datepicker-toggle{
    position: relative;
    bottom: 7px;
    font-size: medium;
}
input{
    position: relative;
    bottom: 7px;
    font-size: medium;
}
table{
    width: 100%;
}
.mat-divider {
    border-top-color: rgb(172, 172, 172) !important;
}
.sample{
    background-color: aliceblue;
    height: 100%;
}
.scroll-container {
    /* display: flex; */
    align-items: center;
    overflow: auto;
    height: 70%;
}

th.mat-header-cell {
    white-space: nowrap;
    padding-right: 20px;
}
.mat-cell{
    /* padding-left: 6px; */
    white-space: nowrap;
}
.scroll{
    overflow-x: scroll;
    height: 100%;
}
mat-paginator {
    display: flex;
    justify-content: start;
  }
