.mat-option{
    position: relative;
    bottom: 7px;
    font-size: medium;
}
.label-font-size{
    font-size: 15px;
}
.mat-datepicker-toggle{
    position: relative;
    bottom: 7px;
    font-size: medium;
}
.icon {
    position: relative;
    bottom: 10px;
}
.mat-select{
    position: relative;
    /* bottom: 7px; */
    font-size: medium;
}
.select{
    position: relative;
    bottom: 9px;
    font-size: medium;
}

.mat-icons {
    position: relative;
    bottom: 10px;
}

.mat-select{
    position: relative;
    bottom: 10px;
}

table {
    width: 100%;
}


/* height row */
tr.mat-header-row {
    height: 45px;
}

tr.mat-row {
    height: 22px;
}

/* font size */
.mat-cell,.mat-footer-cell {
    font-size: 14px;
}

.mat-header-cell {
    font-size: 15px;
}

.tables th,
.tables td {
    text-align: center;
}

.dt-input {
    position: relative;
    bottom: 7px;
    font-size: 15px;
}
