<!-- Main -->
<div class="flex-auto p-6 sm:p-6 overflow-y-auto">
    <!-- Main -->
    <div class="flex-auto  sm:p-2  w-full min-w-0 sm:absolute sm:inset-0 sm:overflow-auto text-md">
        <!-- Content -->
        <mat-card>
            <mat-card-title>
                <app-card-title title="Filing" [sub]="true" [back]="true" (submitTap)="submit()"></app-card-title>
            </mat-card-title>
            <mat-card-content>
                <form [formGroup]="filingForm">
                    <div class="grid grid-cols-6 gap-2 h-13">
                        <mat-form-field class="w-full text-md " appearance="outline">
                            <mat-label class="label-font-size">Filing Types</mat-label>
                            <mat-icon class="uploadbutton icon-size-5 : mr-2" matPrefix svgIcon="mat_outline:info"></mat-icon>
                            <mat-select (selectionChange)="clear($event)" formControlName="filingTypes">
                            <mat-option *ngFor="let item of filing" [value]="item.id">{{item.description}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field *ngIf="filingForm.value.filingTypes == 4" appearance="outline">
                            <mat-label class="label-font-size">Include expired</mat-label>
                            <mat-icon class="uploadbutton icon-size-5 : mr-2" matPrefix svgIcon="mat_outline:info"></mat-icon>
                            <mat-select formControlName="includeExpiry">
                            <mat-option *ngFor="let item of application" [value]="item.id">{{item.description}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field *ngIf="filingForm.value.filingTypes == 0 || filingForm.value.filingTypes == 1 || filingForm.value.filingTypes == 3 || filingForm.value.filingTypes == 5"  class="w-full text-md " appearance="outline">
                            <mat-label class="label-font-size">Date From</mat-label>
                            <input formControlName="dateFrom" [max]="filingForm.controls['dateTo'].value" matInput [matDatepicker]="df" readonly [placeholder]="'MM/DD/YYYY'" (click)="df.open()">
                            <mat-datepicker-toggle matSuffix [for]="df"></mat-datepicker-toggle>
                            <mat-datepicker #df></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field *ngIf="filingForm.value.filingTypes == 1 || filingForm.value.filingTypes == 0 || filingForm.value.filingTypes == 5 ||
                            filingForm.value.filingTypes == 3"class="w-full text-md" appearance="outline">
                            <mat-label class="label-font-size">Date To</mat-label>
                                <input formControlName="dateTo" [min]="filingForm.controls['dateFrom'].value" matInput [matDatepicker]="dt" readonly [placeholder]="'MM/DD/YYYY'" (click)="dt.open()">
                                <mat-datepicker-toggle matSuffix [for]="dt"></mat-datepicker-toggle>
                                <mat-datepicker #dt></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field class="w-full text-md " appearance="outline">
                            <mat-label class="label-font-size">Employee Name</mat-label>
                            <mat-icon class="uploadbutton icon-size-5 : mr-2" matPrefix svgIcon="mat_outline:info"></mat-icon>
                            <mat-select formControlName="employeeName">
                            <mat-option *ngFor="let item of employee" [value]="item.id">{{item.description}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <!-- <div *ngIf="filingForm.value.filingTypes == 1 || filingForm.value.filingTypes == 0 || filingForm.value.filingTypes == 5 || filingForm.value.filingTypes == 3" class="grid grid-cols-2 gap-x-2 h-15">
                                <button class="ml-1 mt-[3.5px]" (click)="addRow()" mat-flat-button [color]="'primary'" )>
                                    <mat-icon class="icon-size-5 mt-5" [svgIcon]="'heroicons_outline:search'"></mat-icon>
                                    <span class="hidden sm:inline-block ml-2">Search</span>
                                </button>
                            <div></div>
                        </div> -->
                        <div *ngIf="filingForm.value.filingTypes == 1 || filingForm.value.filingTypes == 0 || filingForm.value.filingTypes == 5 || filingForm.value.filingTypes == 3" class="grid grid-cols-2 h-15 mt-1">
                            <div>
                                <button (click)="addRow()" class="ml-1 px-1 sm:px-4 min-w-10" mat-flat-button [color]="'primary'">
                                    <mat-icon class="icon-size-5 mt-5" [svgIcon]="'heroicons_outline:search'"></mat-icon>
                                    <span class="hidden sm:inline-block ml-2">Search</span>
                                </button>
                            </div>
                            <div></div>
                        </div>
                    </div>
                </form>
                <!-- ===============================================Change Schedule========================================= -->

                    <mat-card class="scroll-container h-100 mat-elevation-z0" *ngIf="filingForm.value.filingTypes == 0">
                        <app-change-schedule [datasource]="CSSource"></app-change-schedule>
                    </mat-card>
                <!-- ================================================Change Log============================================== -->

                    <mat-card class="scroll-container h-100 mat-elevation-z0" *ngIf="filingForm.value.filingTypes == 1">
                        <app-change-log [datasource]="CLSource"></app-change-log>
                    </mat-card>

                <!-- ======================================================Leave============================================= -->

                    <mat-card class="scroll-container h-100 mat-elevation-z0" *ngIf="filingForm.value.filingTypes == 2">
                        <app-leave></app-leave>
                    </mat-card>

                <!-- ========================================================Overtime======================================== -->

                    <mat-card class="scroll-container h-100  mat-elevation-z0" *ngIf="filingForm.value.filingTypes == 3">
                        <app-overtime [datasource]="OTSource"></app-overtime>
                    </mat-card>

                <!-- ============================================= Offset==================================================== -->

                    <mat-card class="scroll-container h-100 mat-elevation-z0" *ngIf="filingForm.value.filingTypes == 4">
                        <app-offset></app-offset>
                    </mat-card>

                <!-- ============================================= Official Business========================================= -->

                    <mat-card class="scroll-container h-100 mat-elevation-z0" *ngIf="filingForm.value.filingTypes == 5">
                        <app-official-business [datasource]="OBSource"></app-official-business>
                    </mat-card>

                <!-- ==============================================Unpaid Hours============================================== -->

                    <mat-card class="scroll-container h-100 mat-elevation-z0" *ngIf="filingForm.value.filingTypes == 6" >
                        <app-unpaid-hours></app-unpaid-hours>
                    </mat-card>

                <!-- ================================================ COE =================================================== -->

                <mat-card class="scroll-container h-[100%] mat-elevation-z0" *ngIf="filingForm.value.filingTypes == 7">
                    <app-coe></app-coe>
                </mat-card>


            </mat-card-content>
        </mat-card>
    </div>
</div>
