table {
    width: 100%;
}

.mat-datepicker-toggle {
    position: relative;
    bottom: 5px;
    font-size: medium;
}

input {
    position: relative;
    bottom: 10px;
    font-size: medium;
}

.mat-icon {
    position: relative;
    bottom: 8px;
}

.mat-select {
    position: relative;
    bottom: 9px;
    font-size: medium;
}

.upb {
    position: relative;
    bottom: 15px;
    right: -5px;
    border-radius: 3px !important;
}

.mat-datepicker-toggle {
    display: none;
}

.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1;
}
.mat-card-content {
    height: 300px; /* set the height of the card content */
    overflow-y: auto; /* add a vertical scrollbar when the content exceeds the height */
  }
